#tree {
  outline: none; /* override the browser's focus styling */
}

#tree, div.root, #leftColumnBackground {
  background: -moz-linear-gradient(white, white 50%, #F0F5FF 50%, #F0F5FF);
  background-size: 100px 32px;
}

div.root div {
  min-width: -moz-min-content;
}

div.root {
  padding-left: 150px;
  min-height: 100%;
  overflow: hidden;
}

#leftColumnBackground {
  background: -moz-linear-gradient(left, transparent, transparent 98px, #CCC 98px, #CCC 99px, transparent 99px),
    -moz-linear-gradient(white, white 50%, #F0F5FF 50%, #F0F5FF);
  background-size: auto, 100px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  border-right: 1px solid #CCC;
}

.sampleCount,
.samplePercentage,
.selfSampleCount {
  position: absolute;
  text-align: right;
}

.sampleCount {
  left: 2px;
  width: 50px;
}

.samplePercentage {
  left: 55px;
  width: 40px;
}

.selfSampleCount {
  left: 98px;
  width: 45px;
  padding-right: 2px;
  border: solid #CCC;
  border-width: 0 1px;
}

.libraryName {
  margin-left: 10px;
  color: #999;
}

div.root div.collapsed > div {
  display: none;
}
div.root div > div {
  margin-left: 1em;
  white-space: nowrap;
}

.unselected,
.selected {
  display: block;
  margin-left: -10000px;
  padding-left: 10000px;
}

.selected {
  color: black;
  background-color: -moz-dialog;
}

.selected > .sampleCount {
  background-color: inherit;
  margin-left: -2px;
  padding-left: 2px;
  padding-right: 95px;
  margin-right: -95px;
}

#tree:focus .selected {
  color: highlighttext;
  background-color: highlight;
}

#tree:focus .selected > .libraryName {
  color: #CCC;
}

.expandCollapseButton {
  -moz-appearance: treetwistyopen;
  padding: 0;
  overflow: hidden;
  margin: -3px -4px -3px 0;
  vertical-align: top;
  color: transparent;
}

div.collapsed > * > .expandCollapseButton {
  -moz-appearance: treetwisty;
}

div.leaf > * > .expandCollapseButton {
  visibility: hidden;
}
