#tree, div.root {
  background: -moz-linear-gradient(white, white 50%, #F0F5FF 50%, #F0F5FF);
  background-size: 100px 32px;
}

div.root,
div.root div {
  min-width: -moz-min-content;
}

div.root div.collapsed > div {
  display: none;
}
div.root div > div {
  margin-left: 1em;
  white-space: nowrap;
}

.unselected,
.selected {
  display: block;
  margin-left: -10000px;
  padding-left: 10000px;
}

.selected {
  color: highlighttext;
  background-color: highlight;
}

.expandCollapseButton {
  -moz-appearance: treetwistyopen;
  padding: 0;
  overflow: hidden;
  margin: -3px -4px -3px 0;
  vertical-align: top;
  color: transparent;
}

div.collapsed > * > .expandCollapseButton {
  -moz-appearance: treetwisty;
}

div.leaf > * > .expandCollapseButton {
  visibility: hidden;
}
