body {
  margin: 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 11px;
}
#mainarea {
  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  left: 0;
}
#dataentry {
  display: block;
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
#tree {
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 150px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-user-select: none;
  cursor: default;
  line-height: 16px;
}
#treeHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 16px;
  margin: 0;
  padding: 0;
}
#treeHeader > li {
  position: absolute;
  display: block;
  -moz-appearance: treeheadercell;
  margin: 0;
  padding: 0;
  top: 0;
  height: 16px;
  line-height: 15px;
}
#sampleCountHeader {
  left: 0;
  width: 99px;
  text-align: right;
}
#selfSampleCountHeader {
  left: 99px;
  width: 48px;
  text-align: right;
}
#sampleCountHeader > span,
#selfSampleCountHeader > span {
  padding-right: 12px;
}
#symbolNameHeader {
  left: 147px;
  right: 0;
}
#symbolNameHeader > span {
  padding-left: 2px;
}
#infobar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 193px;
  overflow: auto;
  padding: 3px;
  background: #EEE;
  border-left: 1px solid #BBB;
}
#bottombar {
  position: absolute;
  height: 149px;
  right: 0;
  bottom: 0;
  overflow: auto;
  left: 0;
  border-top: 1px solid #BBB;
  background: #FAFAFA;
}
#histogram {
  height: 130px;
}
#iconbox {
  display: none;
}
#filter, #showall {
  cursor: pointer;
}
#markers {
  display: none;
}
.hidden {
  display: none !important;
}