body {
  margin: 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 11px;
}
#mainarea {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}
#dataentry {
  display: block;
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
#breadcrumbTrail {
  position: absolute;
  top: 0;
  right: 0;
  height: 29px;
  left: 0;
  background: -moz-linear-gradient(#FFF 50%, #F3F3F3 55%);
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0;
}
.breadcrumbTrailItem {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 29px;
  padding: 0 10px;
  font-size: 12px;
  -moz-user-select: none;
  cursor: default;
}
#tree {
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
}
#fileList {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 320px;
  width: 199px;
  overflow: auto;
  padding: 0;
  margin: 0;
  background: #DBDFE7;
  border-right: 1px solid #BBB;
}
#infobar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 193px;
  height: 319px;
  overflow: auto;
  padding: 3px;
  background: #EEE;
  border-top: 1px solid #BBB;
  border-right: 1px solid #BBB;
}
#bottombar {
  position: absolute;
  height: 60px;
  right: 0;
  top: 30px;
  left: 0;
  border-bottom: 1px solid #CCC;
  background: -moz-linear-gradient(#EEE, #CCC);
}
#histogram {
  width: 100%;
  height: 100%;
}
.histogramHilite {
  position: absolute;
  pointer-events: none;
}
.histogramHilite:not(.collapsed) {
  background: rgba(150, 150, 150, 0.5);
}
.histogramHilite:not(.finished) .histogramHiliteMenu {
  visibility: hidden;
  opacity: 0;
}
.histogramHiliteMenu {
  pointer-events: auto;
  display: block;
  margin: 0;
  padding: 4px 0;
  background: rgba(255, 255, 255, 0.96);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 4px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  margin-top: -4px;
  left: 100%;
  margin-left: -50px;
  -moz-transition: opacity 300ms ease-in-out 500ms;
  opacity: 0;
}
#bottombar:hover .histogramHilite.finished > .histogramHiliteMenu {
  -moz-transition: opacity 300ms ease-in-out 100ms;
  opacity: 1;
}
.histogramHiliteMenuItem {
  display: block;
  margin: 0;
  padding: 0;
}
.restrictToHighlightButton {
  display: block;
  cursor: default;
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 22px;
  padding: 0 10px;
  white-space: nowrap;
}
.restrictToHighlightButton:hover {
  color: white;
  background: -moz-linear-gradient(#4B91D7 1px, #5FA9E4 1px, #5FA9E4 2px, #58A0DE 3px, #2B70C7 21px, #2763B4 21px);
}
#iconbox {
  display: none;
}
#filter, #showall {
  cursor: pointer;
}
#markers {
  display: none;
}
.hidden {
  display: none !important;
}
.fileListItem {
  display: block;
  margin: 0;
  padding: 0;
  height: 40px;
  color: #FFF;
  text-indent: 8px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(#4B91D7 1px, #5FA9E4 1px, #5FA9E4 2px, #58A0DE 3px, #2B70C7 39px, #2763B4 39px);
}
.fileListItemTitle {
  display: block;
  padding-top: 6px;
  font-size: 12px;
}
.fileListItemDescription {
  display: block;
  line-height: 15px;
  font-size: 9px;
}