/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.photon-label,
.photon-label-micro {
  display: inline-flex;
  padding: 3px 0;
  color: var(--grey-90);
}

.photon-label {
  font-size: 13px;
}

.photon-label-micro {
  font-size: 11px;
}
