/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* See https://design.firefox.com/photon/components/message-bars.html */
.photon-message-bar {
  display: flex;
  width: 100%;
  min-height: 32px;
  box-sizing: border-box;
  align-items: center;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
}

.photon-message-bar .photon-button {
  margin-left: 8px;
}

.photon-message-bar .photon-message-bar-close-button {
  width: 24px;
  height: 24px;
  margin-left: auto;
  background: url(../../img/svg/close-dark.svg) no-repeat center / 16px 16px;
  fill: currentColor;
}

.photon-message-bar-error {
  /* Note: 32px is: 4px (left padding for the message bar) + 4px (left padding
   * for the icon) + 16px (icon width) + 4px (right padding for the icon) + 4px
   * (space between icon and text) */
  padding: 4px 4px 4px 32px;

  /* Note: 8px is: 4px (left padding for the message bar) + 4px (left padding
   * for the icon) */
  background: url(../../img/svg/error.svg) no-repeat 8px center / 16px 16px
    var(--red-60);
  color: #fff;
}

.photon-message-bar-warning {
  padding: 4px 4px 4px 32px;
  background: url(../../img/svg/warning.svg) no-repeat 8px center / 16px 16px
    var(--yellow-50);
  color: var(--yellow-90);
}

.photon-message-bar-error .photon-message-bar-close-button {
  background-image: url(../../img/svg/close-light.svg);
}

.photon-message-bar-error .photon-message-bar-action-button,
.photon-message-bar-error .photon-message-bar-close-button:hover {
  background-color: var(--red-70);
  color: #fff;
}

.photon-message-bar-warning .photon-message-bar-action-button,
.photon-message-bar-warning .photon-message-bar-close-button:hover {
  background-color: var(--yellow-60);
}

.photon-message-bar-error .photon-message-bar-action-button:hover,
.photon-message-bar-error .photon-message-bar-close-button:hover:active {
  background-color: var(--red-80);
}

.photon-message-bar-warning .photon-message-bar-action-button:hover,
.photon-message-bar-warning .photon-message-bar-close-button:hover:active {
  background-color: var(--yellow-70);
}

.photon-message-bar-error .photon-message-bar-action-button:hover:active {
  background-color: var(--red-90);
}

.photon-message-bar-warning .photon-message-bar-action-button:hover:active {
  background-color: var(--yellow-80);
}
