/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.photon-radio {
  border: 1px solid var(--grey-90-a30);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-color: var(--grey-90-a10);
  border-radius: 8px;
}

/* Use this class with the photon-radio for the canonical photon styling. */
.photon-radio-default {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

/* Use this class with the photon-radio for the custom micro variant styling. */
.photon-radio-micro {
  width: 13px;
  height: 13px;
  margin: 0 3px;
}

.photon-radio:hover {
  background-color: var(--grey-90-a20);
}

.photon-radio:checked {
  border: none;
  background-color: var(--blue-60);
}

.photon-radio:hover:active {
  background-color: var(--grey-90-a30);
}

.photon-radio-default:checked {
  background-image: url(../../img/svg/radiobutton-marker-16.svg);
}

.photon-radio-micro:checked {
  background-image: url(../../img/svg/radiobutton-marker-13.svg);
}

.photon-radio:checked:hover {
  background-color: var(--blue-70);
}

.photon-radio:checked:hover:active {
  background-color: var(--blue-80);
}
