/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.photon-radio {
  border: 1px solid var(--clickable-border-color);
  border-radius: 8px;
  appearance: none;
  background: none;
  background-color: var(--clickable-background-color);
}

/* Use this class with the photon-radio for the canonical photon styling. */
.photon-radio-default {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

/* Use this class with the photon-radio for the custom micro variant styling. */
.photon-radio-micro {
  width: 13px;
  height: 13px;
  margin: 0 3px;
}

.photon-radio:hover {
  background-color: var(--clickable-hover-background-color);
}

.photon-radio:checked {
  border: none;
  background-color: var(--clickable-checked-background-color);
}

.photon-radio:hover:active {
  background-color: var(--clickable-active-background-color);
}

.photon-radio-default:checked {
  background-image: url(../../img/svg/radiobutton-marker-16.svg);
}

.photon-radio-micro:checked {
  background-image: url(../../img/svg/radiobutton-marker-13.svg);
}

.photon-radio:checked:hover {
  background-color: var(--clickable-checked-hover-background-color);
}

.photon-radio:checked:hover:active {
  background-color: var(--clickable-checked-active-background-color);
}
