/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * These classes should be used to create a small color swatch to describe a
 * category. They should be used with the class `colored-square` that's defined
 * in res/css/style.css.
 * They're global css classes that can be used across the project.
 */
.category-color-transparent {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.category-color-purple {
  background-color: var(--purple-70);
}

.category-color-green {
  background-color: var(--green-60);
}

.category-color-orange {
  /* Non-photon color to not conflict with yellow. */
  background-color: #ff5000;
}

.category-color-yellow {
  /* Non-photon color for improved contrast. */
  background-color: #e7ae1d;
}

.category-color-lightblue {
  background-color: var(--blue-40);
}

.category-color-grey {
  background-color: var(--grey-30);
}

.category-color-blue {
  background-color: var(--blue-60);
}

.category-color-red {
  background-color: var(--red-60);
}

.category-color-lightred {
  background-color: var(--red-70);
}

.category-color-darkgray {
  background-color: var(--grey-40);
}

.category-color-brown {
  background-color: var(--magenta-60);
}
