/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --base-foreground-color: #000;
  --base-background-color: #fff;
  --base-border-color: var(--grey-30);
  --link-foreground-color: var(--blue-60);
  --link-visited-foreground-color: var(--purple-70);
  --link-active-foreground-color: var(--red-50);
  --clickable-foreground-color: var(--grey-90);
  --clickable-background-color: var(--grey-90-a10);
  --clickable-border-color: var(--grey-90-a30);
  --clickable-hover-background-color: var(--grey-90-a20);
  --clickable-active-background-color: var(--grey-90-a30);
  --clickable-ghost-hover-background-color: var(--grey-90-a10);
  --clickable-ghost-active-background-color: var(--grey-90-a20);
  --clickable-checked-background-color: var(--blue-60);
  --clickable-checked-hover-background-color: var(--blue-70);
  --clickable-checked-active-background-color: var(--blue-80);
  --focus-border-color: var(--blue-50);
  --focus-shadow-color: var(--blue-50-a30);
  --kbd-foreground-color: var(--base-foreground-color);
  --kbd-background-color: #f6f6f6;
  --kbd-border-color: #ccc;
  --kbd-shadow-color: #bbb;
  --home-border-color: #ccc;
  --home-shadow-color: #0b1f50;
  --row-odd-background-color: #f5f5f5;

  background-color: var(--base-background-color);
  color: var(--base-foreground-color);
}

:root.dark-mode {
  --base-foreground-color: var(--grey-20);
  --base-background-color: var(--ink-90);
  --base-border-color: var(--grey-50);
  --link-foreground-color: var(--blue-40);
  --link-visited-foreground-color: var(--purple-40);
  --link-active-foreground-color: var(--red-50);
  --clickable-foreground-color: var(--grey-20);
  --clickable-background-color: var(--grey-10-a10);
  --clickable-border-color: var(--grey-10-a40);
  --clickable-hover-background-color: var(--grey-10-a20);
  --clickable-active-background-color: var(--grey-10-a40);
  --clickable-ghost-hover-background-color: var(--grey-10-a10);
  --clickable-ghost-active-background-color: var(--grey-10-a20);
  --clickable-checked-background-color: var(--blue-50);
  --clickable-checked-hover-background-color: var(--blue-60);
  --clickable-checked-active-background-color: var(--blue-70);
  --focus-border-color: var(--blue-40);
  --focus-shadow-color: var(--blue-50-a30);
  --kbd-background-color: var(--ink-70);
  --kbd-border-color: var(--ink-60);
  --kbd-shadow-color: var(--ink-50);
  --home-border-color: var(--ink-70);
  --home-shadow-color: var(--ink-90);
  --row-odd-background-color: color-mix(
    in hsl,
    var(--ink-80) 50%,
    var(--ink-90) 50%
  );
}

a {
  color: var(--link-foreground-color);
}

a:visited {
  color: var(--link-visited-foreground-color);
}

a:active {
  color: var(--link-active-foreground-color);
}

/**
 * This class should be used to create a small colored square. It's used
 * especially for categories and network mime types.
 */
.colored-square {
  display: inline-block;
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  border: 0.5px solid rgb(0 0 0 / 0.1);
  margin-right: 3px;

  /* Opt-out of forced colors so the color is applied */
  forced-color-adjust: none;
}

.colored-border {
  border: 2px solid rgb(0 0 0 / 0.1);
  margin-right: 3px;

  /* Opt-out of forced colors so the color is applied */
  forced-color-adjust: none;
}

.colored-border.ellipsis {
  opacity: 0;
}
