/* --- Buttons --- */

/* See https://design.firefox.com/photon/components/buttons.html for the spec */
.photon-button {
  padding: 0 8px;
  margin: 0;
  border: none;

  /* reset default styles */
  background: none;

  /* photon styles */
  background-color: var(--grey-90-a10);
  border-radius: 2px;
  font: inherit;
}

/* This is a Firefox-specific style because Firefox adds a focusring at a bad
 * position. We're adding our own below. */
.photon-button::-moz-focus-inner {
  border: none;
}

/* Using -moz-focusring to target Firefox only, as a result of the style above */
.photon-button:-moz-focusring {
  outline: 1px dotted black;

  /* This should be eventually the default behavior.
   * See https://bugzilla.mozilla.org/show_bug.cgi?id=315209 */
  -moz-outline-radius: 2px;
}

.photon-button:hover {
  background-color: var(--grey-90-a20);
}

.photon-button:hover:active {
  background-color: var(--grey-90-a30);
}

.photon-button-ghost {
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.photon-button-ghost:hover {
  background-color: var(--grey-90-a10);
}

.photon-button-ghost:hover:active {
  background-color: var(--grey-90-a20);
}

/* --- Inputs --- */

/* See https://design.firefox.com/photon/components/input-fields.html for the spec */
.photon-input {
  height: 32px;
  padding: 0 8px;
  border: 1px solid var(--grey-90-a20);
  border-radius: 2px;
  box-shadow: none; /* remove the default Firefox style */
}

.photon-input:hover {
  border-color: var(--grey-90-a30);
}

/* The second selector is only here to have a specificity higher than the one in
 * `.photon-input:invalid:not(:placeholder-shown)`. */
.photon-input:focus,
.photon-input:focus:invalid {
  border: 1px solid var(--blue-50);
  box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

.photon-input:invalid:not(:placeholder-shown) {
  border: 1px solid var(--red-60);
  box-shadow: 0 0 0 1px var(--red-60), 0 0 0 4px rgba(251, 0, 34, 0.3);
}
