/* --- Buttons --- */

/* See https://design.firefox.com/photon/components/buttons.html for the spec */
.photon-button {
  padding: 0 8px;
  margin: 0;
  border: none;

  /* reset default styles */
  background: none;

  /* photon styles */
  background-color: var(--grey-90-a10);
  border-radius: 2px;
  color: var(--grey-90);
  font: inherit;
}

/* This is a Firefox-specific style because Firefox adds a focusring at a bad
 * position. We're adding our own below. */
.photon-button::-moz-focus-inner {
  border: none;
}

.photon-button:hover {
  background-color: var(--grey-90-a20);
}

.photon-message-bar-error .photon-button {
  background-color: var(--red-70);
  color: #fff;
}

.photon-message-bar .photon-button {
  margin-left: 8px;
}

.photon-button:active {
  background-color: var(--grey-90-a30);
}

.photon-button-primary,
.photon-button-default {
  min-width: 132px;
  height: 32px;
  margin: 0 8px;
  font-size: 13px;
}

.photon-button-default {
  background-color: var(--grey-90-a10);
}

.photon-button-default:hover {
  background-color: var(--grey-90-a20);
}

.photon-button-default:active {
  background-color: var(--grey-90-a30);
}

.photon-button-primary {
  background-color: var(--blue-60);
  color: #fff;
}

.photon-button-primary:hover {
  background-color: var(--blue-70);
}

.photon-button-primary:active {
  background-color: var(--blue-80);
}

.photon-button-ghost {
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.photon-button-ghost:hover {
  background-color: var(--grey-90-a10);
}

.photon-button-ghost:hover:active {
  background-color: var(--grey-90-a20);
}

.photon-button-micro {
  height: 24px;
}

/* --- Inputs --- */

/* See https://design.firefox.com/photon/components/input-fields.html for the spec */
.photon-input {
  height: 32px;
  padding: 0 8px;
  border: 1px solid var(--grey-90-a20);
  border-radius: 2px;
  box-shadow: none; /* remove the default Firefox style */
}

.photon-input:hover {
  border-color: var(--grey-90-a30);
}

/* The second selector is only here to have a specificity higher than the one in
 * `.photon-input:invalid:not(:placeholder-shown)`. */
.photon-input:focus,
.photon-input:focus:invalid {
  border: 1px solid var(--blue-50);
  box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

.photon-input:invalid:not(:placeholder-shown) {
  border: 1px solid var(--red-60);
  box-shadow: 0 0 0 1px var(--red-60), 0 0 0 4px var(--red-60-a30);
}

/* --- Message bars --- */

/* See https://design.firefox.com/photon/components/message-bars.html */
.photon-message-bar {
  display: flex;
  width: 100%;
  min-height: 32px;
  box-sizing: border-box;
  align-items: center;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
}

.photon-message-bar-error {
  /* Note: 32px is: 4px (left padding for the message bar) + 4px (left padding
   * for the icon) + 16px (icon width) + 4px (right padding for the icon) + 4px
   * (space between icon and text) */
  padding: 4px 4px 4px 32px;

  /* Note: 8px is: 4px (left padding for the message bar) + 4px (left padding
   * for the icon) */
  background: url(../img/svg/error.svg) no-repeat 8px center / 16px 16px
    var(--red-60);
  color: #fff;
}

.photon-message-bar-error .photon-button:hover {
  background-color: var(--red-80);
}

.photon-message-bar-error .photon-button:hover:active {
  background-color: var(--red-90);
}

/* Label */

.photon-label,
.photon-label-micro {
  display: inline-flex;
  color: var(--grey-90);
}

.photon-label {
  padding: 3px 0;
  font-size: 13px;
}

.photon-label-micro {
  padding: 3px 0;
  font-size: 11px;
}

/* Checkboxes */

.photon-checkbox,
.photon-checkbox-micro {
  position: relative;
  padding: 0;
  border: 1px solid var(--grey-90-a30);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--grey-90-a10);
  border-radius: 2px;
}

.photon-checkbox {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.photon-checkbox-micro {
  width: 13px;
  height: 13px;
  margin: 0 3px;
}

.photon-checkbox:hover,
.photon-checkbox-micro:hover {
  background-color: var(--grey-90-a20);
}

.photon-checkbox:active,
.photon-checkbox-micro:active {
  background-color: var(--grey-90-a30);
}

.photon-checkbox:checked,
.photon-checkbox-micro:checked {
  border: none;
  background-color: var(--blue-60);
}

.photon-checkbox:checked {
  background-image: url(../img/svg/checkbox-check-16.svg);
}

.photon-checkbox-micro:checked {
  background-image: url(../img/svg/checkbox-check-13.svg);
}

.photon-checkbox:checked:hover,
.photon-checkbox-micro:checked:hover {
  background-color: var(--blue-70);
}

.photon-checkbox:checked:active,
.photon-checkbox-micro:checked:active {
  background-color: var(--blue-80);
}

/* Radio buttons */

.photon-radio,
.photon-radio-micro {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-color: var(--grey-90-a10);
  border-radius: 8px;
}

.photon-radio {
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.photon-radio-micro {
  width: 13px;
  height: 13px;
  margin: 0 3px;
}

.photon-radio:hover,
.photon-radio-micro:hover {
  background-color: var(--grey-90-a20);
}

.photon-radio:active,
.photon-radio-micro:active {
  background-color: var(--grey-90-a30);
}

.photon-radio:checked,
.photon-radio-micro:checked {
  background-color: var(--blue-60);
}

.photon-radio:checked {
  background-image: url(../img/svg/radiobutton-marker-16.svg);
}

.photon-radio-micro:checked {
  background-image: url(../img/svg/radiobutton-marker-13.svg);
}

.photon-radio:checked:hover,
.photon-radio-micro:checked:hover {
  background-color: var(--blue-70);
}

.photon-radio:checked:active,
.photon-radio-micro:checked:active {
  background-color: var(--blue-80);
}
