/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;

  /* This line has been stolen from
   * https://css-tricks.com/os-specific-fonts-css/
   * Just Noto Sans and Liberation Sans have been inserted before "Cantarell"
   * (used on Linux Gnome), because it lacks a glyph for the symbol µ.
   * Please keep it synced with res/photon/style.css.
   */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Noto Sans', 'Liberation Sans', Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 11px;

  /* Disable the "rubberband" overscrolling effect in Chrome. This happens when
   * using the charts and the scroll wheel. */
  overscroll-behavior: none;

  /* background-color is defined in the HTML file to prevent flashing a white screen. */
}

body,
.profileViewer {
  display: flex;
  min-width: 0; /* This allows Flexible Layout to shrink this further than its min-content */
  flex: 1;
}

.profileViewer {
  flex-flow: column nowrap;
}

:root {
  /* Photon animation curve */
  --animation-curve: cubic-bezier(0.07, 0.95, 0, 1);

  color: var(--grey-90);
}

.profileViewerTopBar {
  display: flex;
  height: 24px;
  flex: none;
  flex-flow: row nowrap;
  padding: 0;
  border-bottom: 1px solid var(--grey-30);
  margin: 0;
  background: var(--grey-10);
}

.profileViewerSpacer {
  flex: 1;
}

.profileFilterNavigator {
  height: 24px;
  flex-shrink: 1;
}

.tabBarContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between; /* This pushes the sidebar button to the right */
  border: solid var(--grey-30);
  border-width: 1px 0 1px;
  background: var(--grey-10);
}

.tabBarTabWrapper {
  display: flex;
  min-width: 0; /* This makes the tab container actually shrinkable below min-content */
  flex-flow: row nowrap;
  padding: 0 0.5px;
  margin: 0 -1px;
  list-style: none;
}

.tabBarTab {
  position: relative;
  overflow: hidden;
  width: 8em;
  padding: 6px 4px;
  border: solid transparent;
  border-width: 0 1px 0 1px;
  background-clip: padding-box;
  cursor: default;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: var(--animation-timing);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.tabBarTab.selected {
  /* Cut off the bottom of the border for the tab line. */
  top: 1px;
  padding-top: 5px;
  border-color: var(--grey-30);
  background: #fff;
  color: var(--blue-60);
}

/* Place the top tab bar in a separate element to avoid tapered corners. */
.tabBarTab::before {
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: 2px;
  background-color: transparent;
  content: '';
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: var(--animation-timing);
}

.tabBarTab.selected::before {
  /* The selected tab is shifted down a bit, so shift this bar back up a bit */
  top: -1px;
  background-color: var(--blue-50);
}

.tabBarTabWrapper:not(.beingReordered) > .tabBarTab:not(.selected):hover {
  border-color: var(--grey-20);
  background-color: var(--grey-20);
}

.tabBarTabWrapper:not(.beingReordered)
  > .tabBarTab:not(.selected):hover::before {
  background-color: var(--grey-40);
}

.treeAndSidebarWrapper {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

.initializing {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.initializing-text {
  max-width: 50%;
  padding: 3em;
  border: 1px solid #ccc;
  font-size: 130%;
}

.initializing-text h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.initializing-text span {
  display: inline-block;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  margin: 0 0.2em;
  background-color: #f6f6f6;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0 #bbb;
}

.initializing-text li {
  margin: 1em 0;
}

.symbolicationStatusOverlay {
  position: fixed;
  top: -8px;
  right: 30%;
  left: 30%;
  overflow: hidden;
  height: 20px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--grey-20);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 20px;
  text-align: center;
  text-overflow: ellipsis;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  white-space: nowrap;
  will-change: opacity, transform;
}

.symbolicationStatusOverlay.hidden {
  opacity: 0;
  transform: translateY(-30px);
}

.filler {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: filler;
}

@keyframes filler {
  0% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    animation-timing-function: ease-in-out;
    opacity: 0.5;
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 1;
  }
}
