/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
  margin: 0;
  padding: 0;
  font: message-box;
  font-size: 11px;
  height: 100%;
  /* background-color is defined in the HTML file to prevent flashing a white screen. */
}

body, #root, .profileViewer {
  display: flex;
  flex: 1;
  min-width: 0; /* This allows Flexible Layout to shrink this further than its min-content */
}

.profileViewer {
  flex-flow: column nowrap;
}

:root {
  /* Photon animation curve */
  --animation-curve: cubic-bezier(.07,.95,0,1);
  color: var(--grey-90);
}

#root {
  z-index: 0;
}

.nodeIcon {
  min-width: 14px;
  min-height: 14px;
  height: 100%;
  background: center / contain no-repeat;
}

.treeView {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  border-top: 1px solid var(--grey-30);
}

.treeViewHeader {
  padding: 1px 0;
  border-bottom: 1px solid var(--grey-30);
  position: relative;
  height: 16px;
  background: white;
}

.treeViewHeaderMainColumn {
  flex: 1;
}

.treeViewContextMenu {
  flex: 1;
  display: flex;
}

.treeViewBody {
  flex: 1;
  overflow: auto;
  position: relative;
  outline: 0;
  will-change: scroll-position;
  line-height: 16px;
  z-index: 0;
}

.treeViewBodyInnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
}

.treeViewBodyInner0 {
  left: 0;
  position: sticky;
  z-index: 2;
}

.treeViewBodyInner {
  background: white;
  overflow: hidden;
}

.treeViewRow {
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.treeViewHeaderColumn {
  position: absolute;
  box-sizing: border-box;
  padding: 1px 5px;
  top: 0;
  bottom: 0;
  line-height: 15px;
  white-space: nowrap;
}
.treeViewHeaderColumn.treeViewFixedColumn::after {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 3px;
  width: 1px;
  background: #E5E5E5;
}
.treeViewHeaderColumn.totalTime,
.treeViewHeaderColumn.selfTime {
  text-align: right;
}
.treeViewRowColumn.treeViewFixedColumn {
  overflow: hidden;
  text-overflow: ellipsis;

  box-sizing: border-box;
  border-right: 1px solid var(--grey-30);
}
.treeViewFixedColumn.totalTime {
  left: 0px;
  width: 70px;
}
.treeViewFixedColumn.totalTimePercent {
  left: 70px;
  width: 50px;
  border-right: none;
}
.treeViewFixedColumn.selfTime {
  left: 120px;
  width: 70px;
}
.treeViewHeaderColumn.totalTime {
  width: 120px;
}
.treeViewFixedColumn.icon {
  left: 190px;
  width: 19px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.treeViewRowColumn.totalTime,
.treeViewRowColumn.totalTimePercent,
.treeViewRowColumn.selfTime,
.treeViewRowColumn.timestamp {
  text-align: right;
  padding-right: 5px;
}
.treeViewRowColumn.category {
  text-align: left;
  padding-left: 5px;
}

.treeRowIndentSpacer {
  flex-shrink: 0;
}

.treeViewAppendageColumn {
  margin-left: 10px;
  opacity: 0.6;
}

.treeViewRow.even {
  background-color: #FFFFFF;
}
.treeViewRow.odd {
  background-color: #F5F5F5;
}
.treeViewRow.selected {
  background-color: var(--grey-30);
  color: black;
}
.treeViewRow.dim > .treeViewMainColumn {
  opacity: 0.7
}
.treeViewBody:focus .treeViewRow.selected {
  background-color: highlight;
  color: highlighttext;
}

.treeViewCategoryKnob {
  display: inline-block;
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  margin-right: 3px;
}
.treeViewCategoryKnob.category-color-transparent {
  background-color: transparent;
}
.treeViewCategoryKnob.category-color-purple {
  background-color: var(--purple-70);
}
.treeViewCategoryKnob.category-color-green {
  background-color: var(--green-60);
}
.treeViewCategoryKnob.category-color-orange {
  background-color: var(--orange-50);
}
.treeViewCategoryKnob.category-color-yellow {
  background-color: var(--yellow-50);
}
.treeViewCategoryKnob.category-color-lightblue {
  background-color: var(--blue-40);
}
.treeViewCategoryKnob.category-color-grey {
  background-color: var(--grey-30);
}
.treeViewCategoryKnob.category-color-blue {
  background-color: var(--blue-60);
}
.treeViewCategoryKnob.category-color-brown {
  background-color: var(--magenta-60);
}

.treeViewHighlighting {
  /* This negative margin enlarges the background to the top, so that it fully
   * covers the underlying background. There's an underlying background when the
   * line is selected. */
  margin: -1px 0;
  padding: 1px 0;

  color: #000;
  background: #cbe8fe;
  border-radius: 2px;
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,.3);
}

.focusCallstackButton {
  background: none 0 0 no-repeat transparent;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  color: transparent;
}

.focusCallstackButton {
  background-image: url(../img/svg/circlearrow.svg);
  margin-left: 5px;
  visibility: hidden;
}

.focusCallstackButton:active:hover {
  background-position: -16px 0;
}

.treeViewBody:focus .treeViewRow.selected > .focusCallstackButton {
  background-position: -32px 0;
}

.treeViewBody:focus .treeViewRow.selected > .focusCallstackButton:active:hover {
  background-position: -48px 0;
}

.treeRowToggleButton {
    height: 0;
    width: 0;
    color: #888;
    border-top: 5px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid;
    margin-left: 8px;
}

.treeRowToggleButton.expanded {
    border-top: 8px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid transparent;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.treeRowToggleButton:active:hover {
  color: var(--grey-60);
}

.treeViewBody:focus .treeViewRow.selected > .treeRowToggleButton {
  color: #FFF;
}

.treeViewBody:focus .treeViewRow.selected > .treeRowToggleButton:active:hover {
  color: rgba(255, 255, 255, 0.7);
}

.treeRowToggleButton.leaf {
  visibility: hidden;
}

.treeViewRow:hover > .focusCallstackButton {
  visibility: visible;
}

.profileViewerTopBar {
  height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  background: var(--grey-10);
  border-bottom: 1px solid var(--grey-30);
}

.profileFilterNavigator {
  height: 24px;
  flex: 1;
}

.tabBarContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* This pushes the sidebar button to the right */
  align-items: center;
  background: var(--grey-10);
  position: relative;
  border: solid var(--grey-30);
  border-width: 1px 0 1px;
}

.tabBarTabWrapper {
  padding: 0 0.5px;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -1px;
  min-width: 0; /* This makes the tab container actually shrinkable below min-content */
}

.tabBarTab {
  font-size: 12px;
  width: 8em;
  text-align: center;
  cursor: default;
  -moz-user-select: none;
  text-align: center;
  padding: 6px 4px;
  white-space: nowrap;
  background-clip: padding-box;
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: var(--animation-timing);
  position: relative;
  border: solid transparent;
  border-width: 0 1px 0 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabBarTab.selected {
  background: #fff;
  color: var(--blue-60);
  border-color: var(--grey-30);
  /* Cut off the bottom of the border for the tab line. */
  top: 1px;
  padding-top: 5px;
}

/* Place the top tab bar in a separate element to avoid tapered corners. */
.tabBarTab::before {
  content: "";
  position:absolute;
  width: calc(100% + 2px);
  height: 2px;
  left: -1px;
  background-color: transparent;
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: var(--animation-timing);
  top: 0;
}

.tabBarTab.selected::before {
  /* The selected tab is shifted down a bit, so shift this bar back up a bit */
  top: -1px;
  background-color: var(--blue-50);
}
.tabBarTabWrapper:not(.beingReordered) > .tabBarTab:not(.selected):hover {
  background-color: var(--grey-20);
  border-color: var(--grey-20);
}
.tabBarTabWrapper:not(.beingReordered) > .tabBarTab:not(.selected):hover::before {
  background-color: var(--grey-40);
}

.treeAndSidebarWrapper {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.initializing {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:1.5;
}

.initializing-text {
  max-width: 50%;
  border: 1px solid #CCC;
  padding: 3em;
  font-size: 130%;
}

.initializing-text h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #DDD;
}

.initializing-text span {
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  border-radius: 0.2em;
  display:inline-block;
  padding: 0.0em 0.5em;
  box-shadow: 0.1em 0.1em 0 #BBB;
  margin: 0 0.2em;
}

.initializing-text li {
  margin: 1em 0;
}

.symbolicationStatusOverlay {
  position: fixed;
  top: -8px;
  padding-top: 8px;
  left: 30%;
  right: 30%;
  background: rgba(0,0,0,0.07);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
  border-radius: 0 0 5px 5px;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);
  will-change: opacity, transform;
}

.symbolicationStatusOverlay.hidden {
  opacity: 0;
  transform: translateY(-30px);
}

.filler {
  animation-name: filler;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes filler {
  0% { opacity: 1; animation-timing-function: ease-out; }
  50% { opacity: 0.5; animation-timing-function: ease-in-out; }
  100% { opacity: 1; animation-timing-function: ease-in; }
}

.react-contextmenu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 12px;
  color: #000;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  display: none;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0, 0, 0, 0.3);
  z-index: 4; /* needs to be on a higher level than .overflowEdgeIndicatorEdge */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.react-contextmenu-separator {
  border-bottom: 1px solid #ddd;
  margin: 6px 0;
}

.react-contextmenu.react-contextmenu--visible {
  display: block;
  max-height: 43.5vh;
  padding-right: 9px;
  overflow-y: auto;
}

.react-contextmenu-item {
  padding: 2px 12px;
  line-height: 1.5;
  white-space: nowrap;
  cursor: default;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover {
  color: highlighttext;
  background-color: highlight;
  border-color: highlight;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  color: #888;
  background-color: transparent;
}

.react-contextmenu-item--divider {
  margin-bottom: 3px;
  padding: 2px 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

/* Submenu arrow */
.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  position: absolute;
  right: 7px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: "";
  border-left-color: #000;
  top: 5px;
}

/* Submenu arrow highlighted color */
.react-contextmenu-item:hover.react-contextmenu-submenu > .react-contextmenu-item:after,
.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item--active:after {
  border-left-color: highlighttext;
}


.react-contextmenu-item.checkable {
  padding-right: 21px;
  position: relative;
}

.react-contextmenu-item.indented {
  padding-left: 35px;
}

.react-contextmenu-item.checked:not(.react-contextmenu-item--disabled)::before {
  content: '';
  display: block;
  position: absolute;
  right: 8px;
  top: 6px;
  width: 3px;
  height: 6px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.react-contextmenu-item.react-contextmenu-item--active.checked,
.react-contextmenu-item.checked:hover {
  border-color: #fff;
}
