/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;

  /* This line has been stolen from
   * https://css-tricks.com/os-specific-fonts-css/
   * Just Noto Sans and Liberation Sans have been inserted before "Cantarell"
   * (used on Linux Gnome), because it lacks a glyph for the symbol µ.
   * Please keep it synced with res/photon/style.css.
   */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Noto Sans', 'Liberation Sans', Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 11px;

  /* Disable the "rubberband" overscrolling effect in Chrome. This happens when
   * using the charts and the scroll wheel. */
  overscroll-behavior: none;

  /* background-color is defined in the HTML file to prevent flashing a white screen. */
}

body,
#root,
.profileViewer {
  display: flex;
  min-width: 0; /* This allows Flexible Layout to shrink this further than its min-content */
  flex: 1;
}

.profileViewer {
  flex-flow: column nowrap;
}

:root {
  /* Photon animation curve */
  --animation-curve: cubic-bezier(0.07, 0.95, 0, 1);

  color: var(--grey-90);
}

#root {
  z-index: 0;
}

.nodeIcon {
  min-width: 14px;
  height: 100%;
  min-height: 14px;
  background: center / contain no-repeat;
}

.treeView {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  border-top: 1px solid var(--grey-30);
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

.treeViewHeader {
  position: relative;
  height: 16px;
  padding: 1px 0;
  border-bottom: 1px solid var(--grey-30);
  background: white;
}

.treeViewHeaderMainColumn {
  flex: 1;
}

.treeViewContextMenu {
  display: flex;
  flex: 1;
}

.treeViewBody {
  position: relative;
  z-index: 0;
  overflow: auto;
  flex: 1;
  line-height: 16px;
  outline: 0;
  will-change: scroll-position;
}

.treeViewBodyInnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  min-width: 100%;
  flex-flow: row nowrap;
}

.treeViewBodyInner0 {
  position: sticky;
  z-index: 2;
  left: 0;
}

.treeViewBodyInner1 {
  /* This allows the right column to expand more than its content, so that the
   * background always extends to the right edge. */
  flex-grow: 1;
}

.treeViewBodyInner {
  overflow: hidden;
  background: white;
}

.treeViewRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.treeViewHeaderColumn {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 1px 5px;
  line-height: 15px;
  white-space: nowrap;
}
.treeViewHeaderColumn.treeViewFixedColumn::after {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 3px;
  width: 1px;
  background: #e5e5e5;
  content: '';
}
.treeViewHeaderColumn.total,
.treeViewHeaderColumn.self {
  text-align: right;
}
.treeViewRowColumn.treeViewFixedColumn {
  overflow: hidden;
  box-sizing: border-box;
  border-right: 1px solid var(--grey-30);
  text-overflow: ellipsis;
}
.treeViewFixedColumn.total {
  left: 0;
  width: 70px;
}
.treeViewFixedColumn.totalPercent {
  left: 70px;
  width: 50px;
  border-right: none;
}
.treeViewFixedColumn.self {
  left: 120px;
  width: 70px;
}
.treeViewHeaderColumn.total {
  width: 120px;
}
.treeViewFixedColumn.icon {
  left: 190px;
  display: flex;
  width: 19px;
  flex-flow: column nowrap;
  align-items: center;
}
.treeViewRowColumn.total,
.treeViewRowColumn.totalPercent,
.treeViewRowColumn.self,
.treeViewRowColumn.timestamp {
  padding-right: 5px;
  text-align: right;
}
.treeViewRowColumn.type {
  padding-left: 5px;
  text-align: left;
}

.treeRowIndentSpacer {
  flex-shrink: 0;
}

.treeViewAppendageColumn {
  margin-left: 10px;
  opacity: 0.6;
}

.treeViewRow.even {
  background-color: #fff;
}
.treeViewRow.odd {
  background-color: #f5f5f5;
}

/* Note that `isRightClicked` is present before `isSelected` so that it can be overriden. */
.treeViewRow.isRightClicked {
  background-color: var(--blue-50-a30);
}
.treeViewRow.isSelected {
  background-color: var(--grey-30);
  color: black;
}
.treeViewRow.dim > .treeViewMainColumn {
  opacity: 0.7;
}
.treeViewBody:focus .treeViewRow.isSelected {
  background-color: highlight;
  color: highlighttext;
}
.treeViewBody:focus .treeViewRow.isSelected a {
  color: inherit;
}

.treeViewHighlighting {
  padding: 1px 0;

  /* This negative margin enlarges the background to the top, so that it fully
   * covers the underlying background. There's an underlying background when the
   * line is selected. */
  margin: -1px 0;
  background: #cbe8fe;
  border-radius: 2px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #000;
}

.treeRowToggleButton {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid;
  margin-left: 8px;
  color: #888;
}

.treeRowToggleButton.expanded {
  border-top: 8px solid;
  border-right: 5px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid transparent;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.treeRowToggleButton:active:hover {
  color: var(--grey-60);
}

.treeViewBody:focus .treeViewRow.isSelected > .treeRowToggleButton {
  color: #fff;
}

.treeViewBody:focus
  .treeViewRow.isSelected
  > .treeRowToggleButton:active:hover {
  color: rgba(255, 255, 255, 0.7);
}

.treeRowToggleButton.leaf {
  visibility: hidden;
}

.profileViewerTopBar {
  display: flex;
  height: 24px;
  flex: none;
  flex-flow: row nowrap;
  padding: 0;
  border-bottom: 1px solid var(--grey-30);
  margin: 0;
  background: var(--grey-10);
}

.profileViewerSpacer {
  flex: 1;
}

.profileFilterNavigator {
  height: 24px;
  flex-shrink: 1;
}

.tabBarContainer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between; /* This pushes the sidebar button to the right */
  border: solid var(--grey-30);
  border-width: 1px 0 1px;
  background: var(--grey-10);
}

.tabBarTabWrapper {
  display: flex;
  min-width: 0; /* This makes the tab container actually shrinkable below min-content */
  flex-flow: row nowrap;
  padding: 0 0.5px;
  margin: 0 -1px;
  list-style: none;
}

.tabBarTab {
  position: relative;
  overflow: hidden;
  width: 8em;
  padding: 6px 4px;
  border: solid transparent;
  border-width: 0 1px 0 1px;
  background-clip: padding-box;
  cursor: default;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: var(--animation-timing);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.tabBarTab.selected {
  /* Cut off the bottom of the border for the tab line. */
  top: 1px;
  padding-top: 5px;
  border-color: var(--grey-30);
  background: #fff;
  color: var(--blue-60);
}

/* Place the top tab bar in a separate element to avoid tapered corners. */
.tabBarTab::before {
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: 2px;
  background-color: transparent;
  content: '';
  transition: background-color 200ms, border-color 200ms;
  transition-timing-function: var(--animation-timing);
}

.tabBarTab.selected::before {
  /* The selected tab is shifted down a bit, so shift this bar back up a bit */
  top: -1px;
  background-color: var(--blue-50);
}
.tabBarTabWrapper:not(.beingReordered) > .tabBarTab:not(.selected):hover {
  border-color: var(--grey-20);
  background-color: var(--grey-20);
}
.tabBarTabWrapper:not(.beingReordered)
  > .tabBarTab:not(.selected):hover::before {
  background-color: var(--grey-40);
}

.treeAndSidebarWrapper {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

.initializing {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.initializing-text {
  max-width: 50%;
  padding: 3em;
  border: 1px solid #ccc;
  font-size: 130%;
}

.initializing-text h1 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.initializing-text span {
  display: inline-block;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  margin: 0 0.2em;
  background-color: #f6f6f6;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0 #bbb;
}

.initializing-text li {
  margin: 1em 0;
}

.symbolicationStatusOverlay {
  position: fixed;
  top: -8px;
  right: 30%;
  left: 30%;
  overflow: hidden;
  height: 20px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--grey-20);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 20px;
  text-align: center;
  text-overflow: ellipsis;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  white-space: nowrap;
  will-change: opacity, transform;
}

.symbolicationStatusOverlay.hidden {
  opacity: 0;
  transform: translateY(-30px);
}

.filler {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: filler;
}

@keyframes filler {
  0% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    animation-timing-function: ease-in-out;
    opacity: 0.5;
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 1;
  }
}

.react-contextmenu {
  z-index: 4; /* needs to be on a higher level than .overflowEdgeIndicatorEdge */
  display: none;
  min-width: 160px;
  max-width: 600px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0, 0, 0, 0.3);
  color: #000;
  font-size: 12px;
  text-align: left;
  -webkit-user-select: none;
  user-select: none;
}
.react-contextmenu-separator {
  border-bottom: 1px solid #ddd;
  margin: 6px 0;
}

/* max-height for context menus in the panel changed to 90vh for better zoom experience  */
.react-contextmenu.react-contextmenu--visible {
  display: block;
  max-height: 90vh;
  padding-right: 9px;
  overflow-y: auto;
}

/* max-height for timeline track context menu */
.react-contextmenu.react-contextmenu--visible.timeline-context-menu {
  max-height: 43.5vh;
}

.react-contextmenu-item {
  overflow: hidden;
  padding: 2px 12px;
  cursor: default;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item:hover,
.react-contextmenu-item--selected {
  border-color: highlight;
  background-color: highlight;
  color: highlighttext;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  color: #888;
}

.react-contextmenu-item--divider {
  padding: 2px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 3px;
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

/* Submenu arrow */
.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item::after {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #000;
  content: '';
}

/* Submenu arrow highlighted color */
.react-contextmenu-item:hover.react-contextmenu-submenu
  > .react-contextmenu-item::after,
.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item--active::after {
  border-left-color: highlighttext;
}

.react-contextmenu-item.checkable {
  position: relative;
  padding-right: 21px;
}

.react-contextmenu-item.indented {
  padding-left: 35px;
}

.react-contextmenu-item.checked:not(.react-contextmenu-item--disabled)::before {
  position: absolute;
  top: 6px;
  right: 8px;
  display: block;
  width: 3px;
  height: 6px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  transform: rotate(45deg);
}

.react-contextmenu-item.react-contextmenu-item--active.checked,
.react-contextmenu-item.checked:hover {
  border-color: #fff;
}

.react-contextmenu-item--disabled.react-contextmenu-item--selected {
  background-color: var(--blue-50-a30);
}

.react-contextmenu-item--selected.checked:not(.react-contextmenu-item--disabled)::before,
.react-contextmenu-item:hover.checked:not(.react-contextmenu-item--disabled)::before {
  /* Invert the colors of the checkmark when selected */
  border-color: #fff;
}
