/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.networkChart {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.networkChart .treeViewBody .treeViewBodyInnerWrapper {
  width: 100%;
  flex-flow: column nowrap;
  border-top: 1px solid var(--grey-30);
}

.networkChartRowItem {
  position: relative;
  display: block;
  width: 100%;
  height: 16px;
}

.networkChartRowItemLabel {
  position: absolute;
  z-index: 3;
  top: 0;
  display: flex;
  overflow: hidden;
  min-width: 150px;
  max-height: 16px;
  flex-basis: 0;
  flex-direction: row;
  flex-shrink: 0;
  margin-left: 4px;
  mix-blend-mode: multiply;
  white-space: nowrap;
}

.networkChartRowItemBar {
  position: absolute;
  z-index: 2;
  top: 0.5px;
  height: 15px;
  flex-grow: 1;
}

.networkChartRowItemBarInner {
  position: absolute;

  /* border: 0.5px solid rgba(0, 0, 0, 0.1); */
  z-index: 2;
  height: 15px;
  box-sizing: border-box;
  background-color: var(--grey-40);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.networkChartRowItemBarOuter {
  position: absolute;
  height: 7px;
  box-sizing: border-box;
  margin-top: 4px;
  border: 1px solid var(--grey-30);
}
.networkChartRowItemBarRequestQueue {
  border-right: 0;
}
.networkChartRowItemBarResponseQueue {
  right: 0;
  border-left: 0;
}
.networkChartRowItemBarDuration {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 15px;
  margin-left: 4px;
  color: var(--grey-40);
}

.networkChartRowItemCss .networkChartRowItemBarInner {
  background-color: var(--purple-50);
}

.networkChartRowItemJs .networkChartRowItemBarInner {
  background-color: var(--yellow-50);
}

.networkChartRowItemHtml .networkChartRowItemBarInner {
  background-color: var(--blue-60);
}

.networkChartRowItemImg .networkChartRowItemBarInner {
  background-color: var(--green-60);
}
.networkChartRowItemBarRequest {
  opacity: 0.6;
}

.networkChartRowItemUriOptional {
  color: var(--grey-50);
  white-space: nowrap;
}
.networkChartRowItemUriOptional:first-child {
  display: none;
}
.networkChartRowItemUriOptional:not(:first-child) {
  overflow: hidden;
  min-width: 15px;
  flex: 0 1 auto;
  text-overflow: ellipsis;
}

.networkChartRowItemUriRequired {
  white-space: nowrap;
}

.networkChartRowItemUriRequired:nth-child(1) {
  padding-right: 8px;
}

.networkChartRowItemLabel:hover {
  width: auto !important;
}
.networkChartRowItemLabel:hover .networkChartRowItemUriOptional:first-child {
  display: block;
}
