{
  presets: [
    [
      "env",
      {
        targets: {
          node: "current",
          browsers: "last 2 chrome versions, last 2 firefox versions"
        },
        modules: false
      }
    ],
    "react",
    "flow"
  ],
  plugins: [
    [
      "transform-class-properties"
    ]
  ],
  env: {
    // Needed for tests, as node doesn't support ES2015 modules yet.
    // The version of node we use doesn't need the generator polyfill so we're not including it
    test: {
      presets: [
        [ "env", { target: { node: "current" }} ],
        "react",
        "flow"
      ],
      plugins: [ "transform-class-properties" ]
    }
  }
}
