[development]
last 2 chrome versions
last 2 firefox versions
last 2 safari versions
firefox >= 62

[production]
last 2 chrome versions
last 2 firefox versions
last 2 safari versions
firefox >= 62

[test]
current node
