{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order",
  ],
  "rules": {
    "alpha-value-notation": null,
    "function-url-quotes": null,
    "keyframes-name-pattern": null,
    "length-zero-no-unit": null,
    "selector-class-pattern": null,
    "import-notation": null,
    "media-feature-range-notation": "prefix",
  }
}
