{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order",
    "stylelint-config-prettier"
  ],
  "rules": {
    "prettier/prettier": [
      true,
      { "parser": "css" }
    ],
    "alpha-value-notation": null,
    "function-url-quotes": null,
    "keyframes-name-pattern": null,
    "length-zero-no-unit": null,
    "property-no-vendor-prefix": null,
    "selector-class-pattern": null,
  }
}
