{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order",
    "stylelint-config-prettier"
  ],
  "rules": {
    "prettier/prettier": [
      true,
      { "parser": "css" }
    ],
    "length-zero-no-unit": null
  }
}
