/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.flameGraph {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.flameGraphContent {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 1px solid var(--grey-30);
}

.flameGraphLabels {
  width: 121px;
  padding: 9px 14px;
  border-right: 1px solid var(--grey-30);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flameGraphLabels > span {
  flex: 1;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
