html, body {
  margin: 0;
  padding: 0;
  font: message-box;
  font-size: 11px;
  height: 100%;
}

body, #root, .profileViewer {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.treeView {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  border-top: 1px solid #D6D6D6;
}

.treeViewHeader {
  padding: 1px 0;
  border-bottom: 1px solid #D6D6D6;
  position: relative;
  height: 16px;
  background: white;
}

.treeViewHeaderMainColumn {
  flex: 1;
}

.treeViewBody {
  flex: 1;
  overflow: auto;
  position: relative;
  outline: 0;
  will-change: scroll-position;
}

.treeViewBodyInnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
}

.treeViewBodyInner0 {
  left: 0;
  position: sticky;
  z-index: 2;
  min-width: min-content;
}

.treeViewBodyInner {
  background: white;
  overflow: hidden;
}

.treeViewRow {
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.treeViewHeaderColumn {
  position: absolute;
  box-sizing: border-box;
  padding: 1px 5px;
  top: 0;
  bottom: 0;
  line-height: 15px;
  white-space: nowrap;
}
.treeViewHeaderColumn.treeViewFixedColumn::after {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 3px;
  width: 1px;
  background: #E5E5E5;
}

.treeViewRowColumn.treeViewFixedColumn {
  box-sizing: border-box;
  border-right: 1px solid #D6D6D6;
}
.treeViewFixedColumn.totalTime {
  left: 0px;
  width: 70px;
  border-right: none;
}
.treeViewFixedColumn.totalTimePercent {
  left: 70px;
  width: 50px;
}
.treeViewFixedColumn.selfTime {
  left: 120px;
  width: 70px;
}
.treeViewHeaderColumn.totalTime {
  width: 120px;
}
.treeViewRowColumn.totalTime,
.treeViewRowColumn.totalTimePercent,
.treeViewRowColumn.selfTime,
.treeViewRowColumn.timestamp {
  text-align: right;
  padding-right: 5px;
}
.treeViewRowColumn.category {
  text-align: left;
  padding-left: 5px;
}

.treeRowIndentSpacer {
  flex-shrink: 0;
}

.treeViewAppendageColumn {
  margin-left: 10px;
  color: #999;
}

.treeViewRow.even, .treeViewRow.even > .treeViewFixedColumn {
  background-color: #FFFFFF;
}
.treeViewRow.odd, .treeViewRow.odd > .treeViewFixedColumn {
  background-color: #F5F5F5;
}
.treeViewRow.selected,
.treeViewRow.selected > .treeViewFixedColumn {
  background-color: -moz-dialog;
  color: black;
}
.treeViewRow.dim > .treeViewMainColumn {
  color: #aaa;
}
.treeViewBody:focus > * > * > * > .treeViewRow.selected,
.treeViewBody:focus > * > * > * > .treeViewRow.selected > .treeViewFixedColumn {
  background-color: highlight;
  color: highlighttext;
}

.treeViewHighlighting {
  padding: 1px;
  margin: -1px;
  color: #000;
  background: #cbe8fe;
  border-radius: 2px;
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,.3);
  position: relative;
}


.treeRowToggleButton,
.focusCallstackButton {
  background: none 0 0 no-repeat transparent;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  vertical-align: top;
  color: transparent;
}

.treeRowToggleButton {
  background-image: url(./treetwisty.svg);
}

.focusCallstackButton {
  background-image: url(./circlearrow.svg);
  margin-left: 5px;
  visibility: hidden;
}

.treeRowToggleButton:active:hover,
.focusCallstackButton:active:hover {
  background-position: -16px 0;
}

.treeRowToggleButton.collapsed {
  background-position: 0 -16px;
}

.treeRowToggleButton.collapsed:active:hover {
  background-position: -16px -16px;
}

.treeViewBody:focus > * > * > * > .treeViewRow.selected > .treeRowToggleButton,
.treeViewBody:focus > * > * > * > .treeViewRow.selected > .focusCallstackButton {
  background-position: -32px 0;
}

.treeViewBody:focus > * > * > * > .treeViewRow.selected > .treeRowToggleButton.collapsed {
  background-position: -32px -16px;
}

.treeViewBody:focus > * > * > * > .treeViewRow.selected > .treeRowToggleButton:active:hover,
.treeViewBody:focus > * > * > * > .treeViewRow.selected > .focusCallstackButton:active:hover {
  background-position: -48px 0;
}

.treeViewBody:focus > * > * > * > .treeViewRow.selected > .treeRowToggleButton.collapsed:active:hover {
  background-position: -48px -16px;
}

.treeRowToggleButton.leaf {
  visibility: hidden;
}

.treeViewRow:hover > .focusCallstackButton {
  visibility: visible;
}

.profileViewerTopBar {
  height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  background: #EEE;
  border-bottom: 1px solid #D6D6D6;
}

.profileFilterNavigator {
  height: 24px;
  flex: 1;
}

.profileViewerHeader {
  position: relative;
  margin-left: 149px;
  border-left: 1px solid #D6D6D6;
  -moz-user-focus: ignore;
}

.profileViewerHeaderTimeLine {
  height: 20px;
  overflow: hidden;
}

.profileViewerHeaderTimeLine::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -150px;
  right: 0;
  height: 1px;
  background: #D6D6D6;
  z-index: 3;
}

.timeLineContainer {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-user-select: none;
  user-select: none;
  line-height: 20px;
  font-size: 9px;
  color: #888;
  cursor: default;
}

.timeLineNotch {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  margin-left: -1px;
  white-space: nowrap;
  text-align: right;
  background: linear-gradient(transparent, #D6D6D6 19px, #D6D6D6 20px, #D6D6D666 0);
}

.timeLineNotchText {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.profileViewerHeaderOverflowEdgeIndicatorScrollbox {
  margin: 0 0 0 -150px;
  padding-left: 150px;
  max-height: 180px;
  overflow: auto;
}

.profileViewerHeaderIntervalMarkerTimelineContainerJank {
  padding: 6px 0;
  border-bottom: 1px solid #D6D6D6;
}

.profileViewerHeaderIntervalMarkerTimelineJank {
  padding: 2px 0;
}

.profileViewerHeaderIntervalMarkerTimeline {
  list-style: none;
  display: block;
  margin: 0;
  height: 6px;
  position: relative;
  overflow: hidden;
}

.profileViewerHeaderIntervalMarkerTimelineThreadGeckoMain {
  height: 18px;
  border-bottom: 1px solid #D6D6D6;
}

.profileViewerHeaderIntervalMarkerTimelineItem {
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 6px;
  background: black;
  box-sizing: border-box;
}

/* Make the four corner pixels white so that it looks a little like rounded corners */
.profileViewerHeaderIntervalMarkerTimelineItem::before,
.profileViewerHeaderIntervalMarkerTimelineItem::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0.5px;
  border: solid white;
  border-width: 0.5px 0;
}

.profileViewerHeaderIntervalMarkerTimelineItem::before {
  left: 0;
}

.profileViewerHeaderIntervalMarkerTimelineItem::after {
  right: 0;
}

.profileViewerHeaderIntervalMarkerTimelineItem:hover,
.profileViewerHeaderIntervalMarkerTimelineItem:active {
  background-image: linear-gradient(hsla(0,0%,100%,0.3),hsla(0,0%,100%,0.3));
}

.profileViewerHeaderIntervalMarkerTimelineItem:active:hover {
  background-image: linear-gradient(hsla(0,0%,0%,0.3),hsla(0,0%,0%,0.3));
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeStyles,
.profileViewerHeaderIntervalMarkerTimelineItemTypeReflow,
.profileViewerHeaderIntervalMarkerTimelineItemTypeDisplayList {
  top: 6px;
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeRasterize {
  top: 12px;
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeRD {
  background: hsla(0,0%,0%,0.05);
  height: 100%;
  z-index: 0;
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeScripts {
  background: rgb(250,100,40);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeStyles {
  background: rgb(40,40,100);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeReflow {
  background: rgb(40,40,100);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeDisplayList {
  background: rgb(150, 40, 100);
}
.profileViewerHeaderIntervalMarkerTimelineItemTypeRasterize {
  background: rgb(100, 250, 40);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeComposite {
  background: rgb(100,40,250);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeVsync {
  background: rgb(255, 128, 0);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeLayerTransaction {
  background: rgb(250, 0, 33);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeLayerContentGPU {
  background: rgba(0,200,0,0.5);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeLayerCompositorGPU {
  background: rgba(0,200,0,0.5);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeLayerOther {
  background: rgb(200,0,0);
}

.profileViewerHeaderIntervalMarkerTimelineItemTypeJank {
  background: hsl(0,90%,70%);
  box-shadow: inset 1px 0 hsl(0,90%,50%), inset -1px 0 hsl(0,90%,50%);
}
.profileViewerHeaderIntervalMarkerTimelineItemTypeJank::before,
.profileViewerHeaderIntervalMarkerTimelineItemTypeJank::after {
  content: none;
}

.profileViewerHeaderThreadList {
  list-style: none;
  margin: 0 0 0 -150px;
  padding: 0;
  box-shadow: inset 0 1px #D6D6D6;
}

.profileThreadHeaderBar {
  margin: 0;
  padding: 0;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid #D6D6D6;
  box-shadow: 0 1px #D6D6D6;
  background-color: white;
}

.profileThreadHeaderBar.selected {
  background-color: hsl(220, 50%, 93%);
}

.profileThreadHeaderBar > h1 {
  width: 135px;
  font-weight: normal;
  font: message-box;
  line-height: 40px;
  border-right: 1px solid #D6D6D6;
  margin: 0;
  margin-left: 14px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.threadStackGraph {
  height: 40px;
  width: calc(100% - 150px);
  position: relative;
}

.threadStackGraphCanvas {
  display: block;
  height: 40px;
  width: 100%;
}

.timelineWithRangeSelectionHoverIndicator {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(0,0,0,0.4);
}

.profileViewerHeader:hover > .timelineWithRangeSelectionHoverIndicator {
  visibility: visible;
}

.overlay {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  margin-left: -5px;
  padding-left: 5px;
  overflow: hidden;
}

.dimmerBefore,
.dimmerAfter {
  background: rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.dimmerAfter {
  flex: 1;
}

.rangeSelectionGrippy {
  height: 20px;
  pointer-events: auto;
  display: flex;
  flex-flow: row nowrap;
}

.grippyRangeStart,
.grippyRangeEnd {
  width: 0px;
  padding: 3px;
  background: #AAA;
  border: 1px solid white;
  margin: 0 -4px;
  cursor: ew-resize;
  border-radius: 5px;
  position: relative;
  z-index: 3;
}

.grippyRangeStart:hover,
.grippyRangeStart.dragging,
.grippyRangeEnd:hover,
.grippyRangeEnd.dragging {
  background: #888;
}

.grippyMoveRange {
  flex: 1;
  cursor: grab;
}

.grippyMoveRange.dragging {
  cursor: grabbing;
}

.rangeSelectionWrapper {
  display: flex;
  flex-flow: column nowrap;
}

.rangeSelectionInner {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.rangeSelectionZoomButton {
  width: 30px;
  height: 30px;
  pointer-events: auto;
  box-sizing: border-box;
  border-radius: 100%;
  margin: -15px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: url(./zoom-icon.svg) center center no-repeat rgba(255, 255, 255, 0.6);
  transition: opacity 200ms ease-in-out;
  will-change: opacity;
  opacity: 0.5;
}

.rangeSelectionZoomButton.hidden {
  opacity: 0.0 !important;
  pointer-events: none;
}

.profileViewerHeader:hover .rangeSelectionZoomButton,
.rangeSelectionZoomButton:active {
  opacity: 1.0;
}

.rangeSelectionZoomButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.rangeSelectionZoomButton:active:hover {
  background-color: rgba(160, 160, 160, 0.6);
}

.tabBarContainer {
  display: flex;
  flex-flow: row nowrap;
  background: #EEE;
  border-top: 1px solid #D6D6D6;
  position: relative;
}

.tabBarTabWrapper {
  margin: 0;
  padding: 0 0.5px;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 -1px;
  max-width: 100%;
}

.tabBarTab {
  width: 8em;
  text-align: center;
  cursor: default;
  -moz-user-select: none;
  text-align: center;
  padding: 4px;
  border: solid #D6D6D6;
  border-width: 0 1px;
  margin: 0 -0.5px;
  white-space: nowrap;
  background-clip: padding-box;
}

.tabBarTab.selected {
  background: white;
}

.tabBarTabWrapper:not(.beingReordered) > .tabBarTab:not(.selected):hover {
  background-color: #DDD;
}

.profileSummaryView {
  border-top: 1px solid #D6D6D6;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

.profileMarkersView {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.treeViewFixedColumn.timestamp {
  left: 0px;
  width: 80px;
  border-right: none;
}
.treeViewFixedColumn.category {
  left: 80px;
  width: 70px;
}

.treeAndSidebarWrapper {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.taskTracerViewWrapper,
.logViewWrapper {
  border-top: 1px solid #D6D6D6;
  flex: 1;
  overflow: auto;
  position: relative;
}

.logViewPre {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
}

.profileSummaryP {
  margin: 0;
}

.taskTracerView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
}

.taskTracerThreadView {
  display: flex;
  flex-flow: row nowrap;
}

.taskTracerThreadViewThreadName {
  width: 150px;
  margin: 0;
  border-right: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  font-size: 1em;
  font-weight: normal;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskTracerThreadViewTracks {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.taskTracerThreadViewTrack {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  height: 4px;
  position: relative;
  overflow: hidden;
}

.taskTracerThreadViewTrackTask {
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 4px;
  border-bottom: 1px solid white;
  background: #7990c8;
  box-sizing: border-box;
}

.taskTracerThreadViewTrackTask:hover {
  background: #38445f;
}

.taskTracerThreadViewTrackTaskBeginDelay {
  display: block;
  position: absolute;
  top: 0px;
  border-top: 1px solid white;
  border-bottom: 2px solid white;
  height: 1px;
  background-color: inherit;
  opacity: 0.4;
}

.initializing {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height:1.5;
}

.initializing-text {
  max-width: 50%;
  border: 1px solid #CCC;
  padding: 3em;
  font-size: 130%;
}

.initializing-text h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #DDD;
}

.initializing-text span {
  background-color: #F6F6F6;
  border: 1px solid #CCC;
  border-radius: 0.2em;
  display:inline-block;
  padding: 0.0em 0.5em;
  box-shadow: 0.1em 0.1em 0 #BBB;
  margin: 0 0.2em;
}

.initializing-text li {
  margin: 1em 0;
}

.symbolicationStatusOverlay {
  position: fixed;
  top: -8px;
  padding-top: 8px;
  left: 30%;
  right: 30%;
  background: rgba(0,0,0,0.07);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
  border-radius: 0 0 5px 5px;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  box-shadow: 0 0 0 0.5px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);
  will-change: opacity, transform;
}

.symbolicationStatusOverlay.hidden {
  opacity: 0;
  transform: translateY(-30px);
}

.filler {
  animation-name: filler;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes filler {
  0% { opacity: 1; animation-timing-function: ease-out; }
  50% { opacity: 0.5; animation-timing-function: ease-in-out; }
  100% { opacity: 1; animation-timing-function: ease-in; }
}
