/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.arrowPanelAnchor {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 75%;
}

.arrowPanel {
  --internal-offset-from-right: var(--offset-from-right, 60px);
  --internal-offset-from-top: 15px;
  --internal-width: var(--width, initial);
  --internal-button-height: 30px;
  --internal-ok-button-background: var(--ok-button-background, #7990c8);
  --internal-ok-button-color: var(--ok-button-color, white);
  position: absolute;
  top: var(--internal-offset-from-top);
  right: calc(0px - var(--internal-offset-from-right));
  min-width: var(--internal-width);
  filter: drop-shadow(0 0 0.5px rgba(0,0,0,0.4)) drop-shadow(0 4px 5px rgba(0,0,0,0.4));
  filter: url(../../../res/img/svg/shadowfilter.svg#menushadow);
  color: black;
  text-align: left;
  line-height: 1.3;
  background: hsla(0, 0%, 97%, 0.95);
  border-radius: 5px;
  transform-origin: calc(100% - var(--internal-offset-from-right))
                    calc(0px - var(--internal-offset-from-top));
}

.arrowPanel:not(.open) {
  pointer-events: none;
  transition: opacity 200ms ease-out;
  opacity: 0;
}

.arrowPanel.open {
  transition: none;
  animation: arrowPanelAppear 400ms;
  opacity: 1;
}

@keyframes arrowPanelAppear {
  from {
    opacity: 0;
    transform: scale(0);
    animation-timing-function: ease-out;
  }

  40% {
    opacity: 0.6;
    transform: scale(1);
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 0.9;
    transform: scale(0.96);
    animation-timing-function: cubic-bezier(.3,0,0.3,1);
  }
}

.arrowPanelArrow {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(0px - var(--internal-offset-from-top));
  height: var(--internal-offset-from-top);
  overflow: hidden;
}

.arrowPanelArrow::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc(100% - var(--internal-offset-from-right));
  width: calc(1.42 * var(--internal-offset-from-top));
  height: calc(1.42 * var(--internal-offset-from-top));
  background: hsla(0, 0%, 97%, 0.95);
  transform: rotate(45deg);
  transform-origin: top left;
  z-index: -1;
}

.arrowPanelTitle,
.arrowPanelSubTitle {
  font-size: 1.2em;
  padding: 10px;
  margin: 0;
}

.arrowPanelSubTitle {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 5px 0;
}

.arrowPanelContent {
  padding: 0 10px;
  overflow: auto;
  --internal-approx-distance-from-top: 60px;
  --internal-approx-distance-to-bottom: 100px;
  max-height: calc(100vh - var(--internal-approx-distance-from-top) - var(--internal-button-height) - var(--internal-approx-distance-to-top));
}

.arrowPanel.hasTitle > .arrowPanelContent {
  border-top: 1px solid rgba(0,0,0,0.05);
}

.arrowPanel.hasButtons > .arrowPanelContent {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.arrowPanel ul {
  padding-left: 2em;
}

.arrowPanelButtons {
  height: 35px;
  line-height: 35px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.arrowPanelOkButton,
.arrowPanelCancelButton {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  flex: 1;
  text-align: center;
  font-size: 1.2em;
}

.arrowPanelOkButton {
  border-bottom-right-radius: 5px;
  background: var(--internal-ok-button-background);
  color: var(--internal-ok-button-color);
}

.arrowPanelCancelButton {
  border-bottom-left-radius: 5px;
}

.arrowPanelOkButton:hover,
.arrowPanelCancelButton:hover {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.arrowPanelOkButton:hover:active,
.arrowPanelCancelButton:hover:active {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.arrowPanelOpenMetaInfo {
  width: 350px;
  font-size: 12px;
  line-height: 20px;
  padding-top: 5px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.arrowPanelOpenMetaInfo,
.arrowPanelOpenMetaInfo .arrowPanelArrow::before {
  background-color: white;
}

.arrowPanelSection {
  margin-top: 7px;
  margin-bottom: 12px;
}

.metaInfoLabel {
  width: 120px;
  color: var(--grey-40);
  display: inline-block;
}

.metaInfoList {
  margin-top: -19px;
}

.metaInfoList .metaInfoListItem {
  margin-left: 110px;
  list-style: circle;
}
