/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.arrowPanelAnchor {
  position: absolute;
  z-index: 10;
  top: 75%;
  left: 50%;
}

.arrowPanel {
  --internal-offset-from-right: var(--offset-from-right, 60px);
  --internal-offset-from-top: 15px;
  --internal-width: var(--width, initial);
  --internal-button-height: 30px;
  --internal-ok-button-background: var(--ok-button-background, #7990c8);
  --internal-ok-button-color: var(--ok-button-color, white);

  position: absolute;
  top: var(--internal-offset-from-top);
  right: calc(var(--internal-offset-from-right) * -1);
  min-width: var(--internal-width);
  background: hsla(0, 0%, 97%, 0.95);
  border-radius: 5px;
  color: black;
  filter: drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.4))
    drop-shadow(0 4px 5px rgba(0, 0, 0, 0.4));
  filter: url(../../../res/img/svg/shadowfilter.svg#menushadow);
  line-height: 1.3;
  text-align: left;
  transform-origin: calc(100% - var(--internal-offset-from-right))
    calc(var(--internal-offset-from-top) * -1);
}

.arrowPanel:not(.open) {
  opacity: 0;
  pointer-events: none;

  /* The visibility is set to hidden after the panel closing transition. */
  transition: opacity 200ms ease-out, visibility 0s 200ms;

  /* visibility: hidden hides the panel from the accessibility tree when it's closed */
  visibility: hidden;
}

.arrowPanel.open {
  animation: arrowPanelAppear 400ms;
  opacity: 1;
  transition: none;
}

@keyframes arrowPanelAppear {
  from {
    animation-timing-function: ease-out;
    opacity: 0;
    transform: scale(0);
  }

  40% {
    animation-timing-function: ease-in-out;
    opacity: 0.6;
    transform: scale(1);
  }

  60% {
    animation-timing-function: cubic-bezier(0.3, 0, 0.3, 1);
    opacity: 0.9;
    transform: scale(0.96);
  }
}

.arrowPanelArrow {
  position: absolute;
  top: calc(var(--internal-offset-from-top) * -1);
  right: 0;
  left: 0;
  overflow: hidden;
  height: var(--internal-offset-from-top);
}

.arrowPanelArrow::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(100% - var(--internal-offset-from-right));
  display: block;
  width: calc(1.42 * var(--internal-offset-from-top));
  height: calc(1.42 * var(--internal-offset-from-top));
  background: hsla(0, 0%, 97%, 0.95);
  content: '';
  transform: rotate(45deg);
  transform-origin: top left;
}

.arrowPanelTitle,
.arrowPanelSubTitle {
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
}

.arrowPanelSubTitle {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.arrowPanelContent {
  overflow: auto;
  max-height: calc(
    100vh - var(--internal-approx-distance-from-top) -
      var(--internal-button-height) - var(--internal-approx-distance-to-bottom)
  );
  padding: 0 10px;

  --internal-approx-distance-from-top: 60px;
  --internal-approx-distance-to-bottom: 100px;
}

.arrowPanel.hasTitle > .arrowPanelContent {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.arrowPanel.hasButtons > .arrowPanelContent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.arrowPanel ul {
  padding-left: 2em;
}

.arrowPanelButtons {
  display: flex;
  height: 35px;
  flex-flow: row nowrap;
  align-items: stretch;
  line-height: 35px;
}

.arrowPanelOkButton,
.arrowPanelCancelButton {
  flex: 1;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  font-size: 1.2em;
  text-align: center;
}

.arrowPanelOkButton {
  background: var(--internal-ok-button-background);
  border-bottom-right-radius: 5px;
  color: var(--internal-ok-button-color);
}

.arrowPanelCancelButton {
  border-bottom-left-radius: 5px;
}

.arrowPanelOkButton:hover,
.arrowPanelCancelButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.arrowPanelOkButton:hover:active,
.arrowPanelCancelButton:hover:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.arrowPanelOpenMetaInfo {
  width: 350px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 20px;
}

.arrowPanelOpenMetaInfo,
.arrowPanelOpenMetaInfo .arrowPanelArrow::before {
  background-color: white;
}

.arrowPanelSection {
  margin-top: 7px;
  margin-bottom: 12px;
}

.metaInfoLabel {
  display: inline-block;
  width: 120px;
  color: var(--grey-50);
}

.metaInfoList {
  margin-top: -19px;
}

.metaInfoList .metaInfoListItem {
  margin-left: 110px;
  list-style: circle;
}
