.backtrace {
  --gradient-height: calc(var(--max-height) - 5em);

  /* Box */
  max-width: 35em;
  padding: 0;
  margin: 5px;

  /* Other */
  font-size: 0.9em;
  line-height: 1.5;
}

.tooltip .backtrace {
  overflow: hidden;
  max-height: var(--max-height);

  /* The gradient is defined towards the bottom so that we hide the end of the
   * backtrace only when the element is tall enough, which is when the backtrace
   * is long. */
  
  -webkit-mask-image: linear-gradient(
    to bottom,
    white,
    white var(--gradient-height),
    transparent
  );  
  mask-image: linear-gradient(
    to bottom,
    white,
    white var(--gradient-height),
    transparent
  );
}

.backtraceStackFrame {
  /* Position */
  display: block;
  overflow: hidden;

  /* Box */
  padding: 0;
  margin: 0;

  /* Other */
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.backtraceStackFrameOrigin {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
}
