.backtrace {
  max-width: var(--tooltip-detail-max-width);
  padding: 0;
  margin: 0;
}

.tooltip .backtrace {
  overflow: hidden;
}

.backtraceStackFrame {
  /* Position */
  overflow: hidden;

  /* Box */
  padding: 0;
  margin: 0;
  list-style: none;

  /* Other */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.backtraceStackFrameOrigin {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.55);
  font-style: normal;
}

.backtraceStackFrame_isFrameLabel {
  color: rgba(0, 0, 0, 0.6);
}
