.backtrace {
  --internal-origin-foreground-color: rgb(0 0 0 / 0.55);
  --internal-frame-label-foreground-color: rgb(0 0 0 / 0.6);
  --internal-link-hover-background-color: rgb(0 0 0 / 0.05);

  padding: 0;
  margin: 0;
}

.tooltip .backtrace {
  overflow: hidden;
}

:root.dark-mode {
  .backtrace {
    --internal-origin-foreground-color: rgb(237 237 2400 / 0.55);
    --internal-frame-label-foreground-color: rgb(237 237 2400 / 0.6);
    --internal-link-hover-background-color: rgb(237 237 2400 / 0.05);
  }
}

.backtraceStackFrame {
  /* Position */
  overflow: hidden;

  /* Box */
  padding: 0;
  margin: 0;
  list-style: none;

  /* Other */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.backtraceStackFrameOrigin {
  margin-left: 10px;
  color: var(--internal-origin-foreground-color);
  font-style: normal;
}

.backtraceStackFrame_isFrameLabel {
  color: var(--internal-frame-label-foreground-color);
}

.backtraceStackFrame_link {
  display: block;
  color: inherit !important;
  text-decoration: none;
}

.backtraceStackFrame_link:hover {
  background-color: var(--internal-link-hover-background-color);
}
