/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.buttonWithPanel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/**
 * This wrapper uses overflow: hidden to clip the actual button.
 * This clip is needed for the vertical slide animation that the
 * profile sharing composite button does.
 * The clip is on .buttonWithPanelButtonWrapper and not on
 * .buttonWithPanel because the latter would clip the panel. */
.buttonWithPanelButtonWrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
}

.buttonWithPanelButtonWrapper:focus-within {
  overflow: visible;
}

.buttonWithPanelButton {
  height: 100%;
  padding: 0 20px;
  border: 0;
  margin: 0;
  background: none;

  /* Inherit the color rather than using the browser's */
  color: inherit;
  font-size: 100%;
  white-space: nowrap;
}

.buttonWithPanelButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.buttonWithPanel.open > * > .buttonWithPanelButton,
.buttonWithPanelButton:hover:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
