.callNodeContextMenuIcon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-inline-end: 8px;
  pointer-events: auto;
}
.react-contextmenu-item:hover .callNodeContextMenuIcon,
.react-contextmenu-item:active .callNodeContextMenuIcon {
  filter: invert(1);
}

.callNodeContextMenuIconMerge {
  background: url(../../../res/img/svg/merge-icon.svg) center center no-repeat;
}

.callNodeContextMenuIconCollapse {
  background: url(../../../res/img/svg/collapse-icon.svg) center center
    no-repeat;
}

.callNodeContextMenuIconFocus {
  background: url(../../../res/img/svg/focus-icon.svg) center center no-repeat;
}

.callNodeContextMenuIconDrop {
  background: url(../../../res/img/svg/drop-icon.svg) center center no-repeat;
}

.callNodeContextMenuLabel {
  color: #555;
  font-weight: bold;
  margin-inline: 2px;
}

.react-contextmenu-item--selected > .callNodeContextMenuLabel {
  color: #fff;
}
