/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.react-contextmenu {
  --internal-shadow-color1: rgb(0 0 0 / 0.1);
  --internal-shadow-color2: rgb(0 0 0 / 0.3);
  --internal-separator-color: #ddd;
  --internal-divider-color: rgb(0 0 0 / 0.15);
  --internal-active-foreground-color: #fff;
  --internal-active-background-color: var(--blue-60);
  --internal-disabled-foreground-color: #888;
  --internal-selected-disabled-background-color: var(--blue-50-a30);
  --internal-highlight-foreground-color: var(--grey-70);

  /* needs to be on a higher level than .overflowEdgeIndicatorEdge and .timelineTrackScreenshotHover */
  z-index: 5;
  display: none;
  min-width: 160px;
  max-width: 600px;
  padding: 5px 0;
  border-radius: 5px;
  margin: 2px 0 0;
  background-color: var(--menu-background-color);
  box-shadow:
    0 0 0 0.5px var(--internal-shadow-color1),
    0 10px 12px var(--internal-shadow-color2);
  color: var(--menu-foreground-color);
  font-size: 12px;
  text-align: left;
  user-select: none;
}

:root.dark-mode {
  .react-contextmenu {
    --internal-shadow-color1: rgb(0 0 0 / 0.4);
    --internal-shadow-color2: rgb(0 0 0 / 0.6);
    --internal-separator-color: var(--base-border-color);
    --internal-divider-color: rgb(237 237 240 / 0.15);
    --internal-active-foreground-color: var(--grey-20);
    --internal-active-background-color: var(--blue-70);
    --internal-disabled-foreground-color: var(--grey-50);
    --internal-selected-disabled-background-color: var(--blue-60-a30);
    --internal-highlight-foreground-color: var(--grey-30);

    border: 1px solid var(--grey-60);
  }
}

.react-contextmenu-separator {
  border-bottom: 1px solid var(--internal-separator-color);
  margin: 6px 0;
}

/* max-height for context menus in the panel changed to 90vh for better zoom experience  */
.react-contextmenu.react-contextmenu--visible {
  display: block;
  max-height: 90vh;
}

.react-contextmenu-item:not(.react-contextmenu-submenu) {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 2px 12px;
  cursor: default;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item--selected {
  border-color: var(--internal-active-background-color);
  background-color: var(--internal-active-background-color);
  color: var(--internal-active-foreground-color);
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  color: var(--internal-disabled-foreground-color);
}

.react-contextmenu-item--divider {
  padding: 2px 0;
  border-bottom: 1px solid var(--internal-divider-color);
  margin-bottom: 3px;
}

/* Submenu arrow */
.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item::after {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: var(--base-foreground-color);
  content: '';
}

/* Submenu arrow highlighted color */
.react-contextmenu-item:hover.react-contextmenu-submenu
  > .react-contextmenu-item::after,
.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item--active::after {
  border-left-color: highlighttext;
}

.react-contextmenu-item.checkable {
  position: relative;
  padding-right: 21px;
}

.react-contextmenu-item.indented {
  padding-left: 35px;
}

.react-contextmenu-item.checked:not(.react-contextmenu-item--disabled)::before {
  position: absolute;
  top: 6px;
  right: 8px;
  display: block;
  width: 3px;
  height: 6px;
  border: solid var(--base-foreground-color);
  border-width: 0 2px 2px 0;
  content: '';
  transform: rotate(45deg);
}

.react-contextmenu-item.react-contextmenu-item--active.checked,
.react-contextmenu-item--selected.checked {
  border-color: var(--internal-active-foreground-color);
}

.react-contextmenu-item--disabled.react-contextmenu-item--selected {
  background-color: var(--internal-selected-disabled-background-color);
}

.react-contextmenu-item--selected.checked:not(
    .react-contextmenu-item--disabled
  )::before {
  /* Invert the colors of the checkmark when selected */
  border-color: var(--internal-active-foreground-color);
}

/* Use this wrapper for a content that needs to take the available space or if
 * it contains other HTML elements (eg <strong>) */
.react-contextmenu-item-content {
  overflow: hidden;
  min-width: 0;
  flex: 1;
  text-overflow: ellipsis;
}

/* Use a span with this class to add an icon to an item. */
.react-contextmenu-icon {
  width: 16px;
  height: 16px;
  flex: none;
  background: center no-repeat;
  margin-inline-end: 8px;
  pointer-events: auto;
}

/* Soften a bit the style of highlighted words */
.react-contextmenu-item > strong {
  color: var(--internal-highlight-foreground-color);
}

.react-contextmenu-item--selected > strong {
  color: var(--internal-active-foreground-color);
}

@media (forced-colors: active) {
  .react-contextmenu {
    border: 1px solid CanvasText;
  }

  .react-contextmenu-item:not(.react-contextmenu-item--disabled):hover {
    background-color: SelectedItem;
    color: SelectedItemText;
  }

  .react-contextmenu-item.react-contextmenu-item--disabled,
  .react-contextmenu-item.react-contextmenu-item--disabled:hover {
    color: GrayText;
  }
}
