.EmptyReasons {
  --internal-background-color: var(--grey-20);

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--internal-background-color);
  box-shadow: inset 0 0 15px var(--base-shadow-color);
  font-size: 120%;
}

:root.dark-mode {
  .EmptyReasons {
    --internal-background-color: var(--grey-80);
  }
}
