.EmptyReasons {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--grey-20);
  box-shadow: inset 0 0 15px rgb(0 0 0 / 0.1);
  font-size: 120%;
}
