/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.filterNavigatorBar {
  --internal-selected-color: var(--selected-color, var(--blue-60));
  height: 24px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  -moz-user-select: none;
  cursor: default;
  overflow: hidden;
}

.filterNavigatorBarItem {
  display: flex;
  flex-flow: row nowrap;
  min-width: 0;
  position: relative;
  height: 24px;
  line-height: 24px;
  border: solid transparent;
  border-width: 0 8px 0 6px;
  border-right-color: transparent !important;
  padding: 0 6px 0 8px;
  background-clip: padding-box;
  max-width: 20%;
}

.filterNavigatorBarRootItem {
  margin-left: -8px;
  flex-shrink: 0;
}

.filterNavigatorBarItemContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterNavigatorBarLeafItem {
  padding-right: 8px;
  margin-right: -8px;
}

.filterNavigatorBarItem::before,
.filterNavigatorBarItem::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  border: 12px solid transparent;
  border-right-width: 2px;
  pointer-events: none;
}

.filterNavigatorBarItem::before {
  left: -14px;
  border-left-color: transparent !important;
}

.filterNavigatorBarItem::after {
  right: -14px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.filterNavigatorBarItem:not(.filterNavigatorBarLeafItem)::after {
  background-image: url(../../../res/img/svg/scope-bar-separator.svg);
  background-repeat: no-repeat;
  background-position: -18px -12px;
  background-size: 24px 24px;
}

.filterNavigatorBarSelectedItem {
  color: var(--internal-selected-color);
}

.filterNavigatorBarItem:not(.filterNavigatorBarLeafItem):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filterNavigatorBarItem:not(.filterNavigatorBarRootItem):not(.filterNavigatorBarLeafItem):hover::before,
.filterNavigatorBarItem.filterNavigatorBarRootItem:hover,
.filterNavigatorBarItem:not(.filterNavigatorBarLeafItem):hover::after {
  border-color: rgba(0, 0, 0, 0.1);
}

.filterNavigatorBarItem:not(.filterNavigatorBarLeafItem):active:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.filterNavigatorBarItem:not(.filterNavigatorBarRootItem):not(.filterNavigatorBarLeafItem):active:hover::before,
.filterNavigatorBarItem.filterNavigatorBarRootItem:active:hover,
.filterNavigatorBarItem:not(.filterNavigatorBarLeafItem):active:hover::after {
  border-color: rgba(0, 0, 0, 0.2);
}

.filterNavigatorBarUncommittedItem {
  opacity: 0.75;
}

.filterNavigatorBarUncommittedItem:hover {
  opacity: 1;
}

/* Animation */

.filterNavigatorBarTransition-enter {
  opacity: 0.1;
  transform: translateX(-100%);
  z-index:0;
}

.filterNavigatorBarTransition-enter.filterNavigatorBarTransition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.filterNavigatorBarTransition-exit {
  opacity: 1;
  transform: translateX(0);
}

.filterNavigatorBarTransition-exit.filterNavigatorBarTransition-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}
