/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.idleSearchField {
  --internal-search-icon: url(../../../res/img/svg/searchfield-icon.svg);
  --internal-cancel-icon: url(../../../res/img/svg/searchfield-cancel.svg);
  --internal-border-color: #aaa;

  position: relative; /* to properly position the button */
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
}

:root.dark-mode {
  .idleSearchField {
    --internal-search-icon: url(../../../res/img/svg/searchfield-icon-light.svg);
    --internal-border-color: var(--grey-70);
  }
}

.photon-input.idleSearchFieldInput {
  /* the chain class selectors are used here 
  to override the styling for the photon-input class */
  height: 19px;
  padding: 0 18px 0 17px; /* right padding for the reset button, left padding for the search icon */
  border: 0.5px solid var(--internal-border-color);
}

.idleSearchFieldInput {
  position: relative;
  flex: 1;
  margin: 0;
  background: var(--internal-search-icon) 3px center no-repeat;
  background-size: 11px 11px;
}

.idleSearchFieldButton {
  position: absolute;
  right: 5px;
  overflow: hidden;
  width: 11px;
  height: 11px;
  padding: 0;
  border: 0;
  background: var(--internal-cancel-icon) top left no-repeat;
  background-size: contain;
  color: transparent;
  -moz-user-focus: ignore;
  vertical-align: middle;
}

.idleSearchFieldInput:invalid + .idleSearchFieldButton {
  visibility: hidden;
}
