/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.idleSearchField {
  display: inline-flex;
  position: relative; /* to properly position the button */
  flex-flow: row nowrap;
  align-items: center;
}

.idleSearchFieldInput {
  flex: 1;
  height: 19px;
  position: relative;
  -moz-appearance: none;
  border: 0.5px solid #AAA;
  margin: 0;
  padding: 0 18px 0 17px; /* right padding for the reset button, left padding for the search icon */
  border-radius: 2px;
  box-shadow: inset 0 0 0.5px rgba(0,0,0,0.15), 0 0 0.5px rgba(0,0,0,0.1);
  background: url(../../../res/searchfield-icon.svg) 3px center no-repeat white;
  background-size: 11px 11px;
}

@media(-moz-mac-yosemite-theme) {
  .idleSearchFieldInput:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring, inset 0 0 0.5px rgba(0,0,0,0.15), 0 0 0.5px rgba(0,0,0,0.1);
  }
}

.idleSearchFieldButton {
  position: absolute;
  right: 5px;
  width: 11px;
  height: 11px;

  overflow: hidden;
  background: url(../../../res/searchfield-cancel.svg) top left no-repeat;
  background-size: contain;
  border: 0;
  padding: 0;
  vertical-align: middle;
  color: transparent;
  -moz-user-focus: ignore;
}

.idleSearchFieldInput:invalid + .idleSearchFieldButton {
  visibility: hidden;
}
