/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.markerSettings {
  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  line-height: 25px;
}

.markerSettingsSpacer {
  flex: 1;
}
