/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.networkSettings {
  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  background-color: var(--base-background-color);
  color: var(--base-foreground-color);
  line-height: 25px;
}

.networkSettingsSpacer {
  flex: 1;
}
