.panelSearchField {
  /* so that the introduction is on top of other panels, _but_ still keep it
   * below the input field (see below) */
  z-index: var(--z-panel-search);
  padding: 0 4px;
}

.panelSearchFieldLabel {
  /* We fix the height so that the panelSearchFieldIntroduction doesn't increase it */
  display: inline-flex;
  height: 100%;
  align-items: center;
  gap: 4px;
}

.panelSearchFieldInput {
  width: 300px;
}

.panelSearchFieldIntroduction {
  --internal-foreground-color: var(--grey-50);
  --internal-background-color: var(--base-background-color);

  /* This is grey-90 with 10% opacity, according to the photon design document */
  --internal-shadow-color: rgb(12 12 13 / 0.1);

  z-index: var(
    --z-panel-search-introduction
  ); /* it needs to be below the input field */

  padding: 0 4px;
  background-color: var(--base-background-color);
  box-shadow: 0 1px 4px var(--internal-shadow-color);
  color: var(--internal-foreground-color);
  font-size: 0.9em;
  line-height: 2;
  transform: translate(2px, -2px);
}

:root.dark-mode {
  .panelSearchFieldIntroduction {
    --internal-foreground-color: var(--grey-40);
    --internal-background-color: var(--panel-background-color);

    /* This is grey-90 with 10% opacity, according to the photon design document */
    --internal-shadow-color: rgb(12 12 13 / 0.2);

    border: 0.5px solid var(--panel-border-color);
  }
}

.panelSearchFieldIntroduction.isDisplayed {
  transition:
    transform 150ms var(--animation-curve),
    opacity 150ms ease-in-out,
    visibility 150ms ease-in-out;
}

.panelSearchFieldIntroduction.isHidden {
  opacity: 0;
  transform: translateY(-100%);

  /* steps(1) is to wait until the end for the transform to happen */
  transition:
    transform 150ms steps(1),
    opacity 150ms ease-in-out,
    visibility 150ms ease-in-out;
  visibility: hidden;
}
