.resizableWithSplitterOuter,
.resizableWithSplitterInner {
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-direction: inherit;
}

.resizableWithSplitterInner {
  flex: 1;
}

.resizableWithSplitterSplitter {
  flex-shrink: 0;
  background: #ccc;
}

.resizableWithSplitterSplitter:hover {
  background: #bbb;
}

.resizableWithSplitterSplitter.dragging {
  background: #aaa;
}

.resizableWithSplitterSplitter.resizesWidth {
  width: 5px;
  cursor: col-resize;
}

.resizableWithSplitterSplitter.resizesHeight {
  height: 5px;
  cursor: row-resize;
}
