.stackSearchField {
  padding: 0 5px;
  /* so that the introduction is on top of other panels, _but_ still keep it
   * below the input field (see below) */
  z-index: 1;
}

.stackSearchFieldInput {
  width: 300px;
}

.stackSearchFieldIntroduction {
  transform: translate(2px, -2px);
  padding: 0 5px;
  z-index: -1; /* it needs to be below the input field */

  box-shadow: 0 1px 4px rgba(12, 12, 13, .10); /* This is grey-90 with 10% opacity, according to the photon design document */
  background-color: white;
  color: var(--grey-50);
  font-size: 0.9em;
  line-height: 2;
}

.stackSearchFieldIntroduction.isDisplayed {
  transition: transform 150ms var(--animation-curve), opacity 150ms ease-in-out;
}

.stackSearchFieldIntroduction.isHidden {
  opacity: 0;
  transform: translateY(-100%);

  /* steps(1) is to wait until the end for the transform to happen */
  transition: transform 150ms steps(1), opacity 150ms ease-in-out;
}
