/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.stackSettings {
  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  line-height: 25px;
  white-space: nowrap;
}

.stackSettingsList {
  display: block;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.stackSettingsListItem {
  padding: 0;
  margin: 0 5px;
}

.stackSettingsLabel {
  height: 25px;
  align-items: center;
  padding: 0;
}

.stackSettingsFilter {
  padding-right: 10px;
  border-right: 1px solid var(--grey-20);
}

.stackSettingsFilterLabel {
  align-items: center;
  padding: 0 5px 0 0;
}

.stackSettingsSelect {
  height: 24px;
  font-size: inherit;
}
