/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.stackSettings {
  display: flex;
  overflow: auto hidden;
  height: 25px;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 0;
  background-color: var(--raised-background-color);
  color: var(--raised-foreground-color);
  scrollbar-width: none;
  white-space: nowrap;
}

.stackSettingsSelect {
  /* Create a new stacking context for the select using a position:relative. This way
   * the focus ring around the select breaks out of its surrounding container. */
  position: relative;
  height: 24px;
  color: inherit; /* important so that the text is still legible when the OS is configured in dark mode. */
  font-size: inherit;
}
