/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.stackSettings {
  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  color: var(--ink-70);
  line-height: 25px;
}

.stackSettingsList {
  display: block;
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.stackSettingsListItem {
  padding: 0;
  margin: 0 5px;
}

.stackSettingsLabel {
  display: inline-flex;
  height: 25px;
  flex-flow: row nowrap;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.stackSettingsSelect {
  margin: 0 5px;
  font-size: 11px;
}

.stackSettingsCheckbox {
  margin: 0 5px;
}
