.tooltipMount {
  pointer-events: none;
  /* Stack the tooltip mounting point above the #root element. */
  z-index: 1;
}

.tooltip {
  position: fixed;
  max-width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 250ms;
  box-sizing: border-box;
}

.tooltipTiming {
  padding-right: 0.5em;
  color: #666;
  font-weight: bold;
}

.tooltipOneLine {
  display: flex;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tooltipTitle {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tooltipSwatch {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #888;
  margin-right: 3px;
}

.tooltipHeader {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--grey-40);
}

.tooltipDetails {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 2px 5px;
}

.tooltipLabel {
  color: #666;
  white-space: nowrap;
  text-align: right;
}
