/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.calltreeTransformNavigator {
  --internal-foreground-color: var(--panel-foreground-color);
  --internal-background-color: var(--panel-background-color);
  --internal-border-color: var(--panel-border-color);

  border-top: 1px solid var(--internal-border-color);
  background: var(--internal-background-color);
  color: var(--internal-foreground-color);
}

:root.dark-mode {
  .calltreeTransformNavigator {
    --internal-foreground-color: var(--base-foreground-color);
    --internal-border-color: var(--base-border-color);
    --internal-background-color: var(--base-background-color);
  }
}
