/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.warningMessageBarWrapper {
  /* Position */
  position: fixed;
  z-index: var(--z-warning);
  top: 0;
  right: 0;
  left: 0;

  /* Box */
  display: flex;

  /* Other */
  pointer-events: none;
}

.warningMessageBar {
  margin: 0 auto;
  pointer-events: auto;
}
