version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn license-check
      - run: yarn lint
      - run: yarn flow --quiet
      - run: yarn flow stop # stop flow to recover some memory
      - run: yarn test --coverage --runInBand
      - run: yarn build-prod:quiet
      - run: bash <(curl -s https://codecov.io/bash)

