/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.threadActivityGraph {
  height: 20px;
}

.threadActivityGraphCanvas {
  display: block;
  height: 100%;
  width: 100%;
}

.chartViewport.selectedThreadActivityGraphViewport {
  flex: auto 0 0;
}

.selectedThreadActivityGraph {
  height: 30px;
  -moz-user-focus: ignore;
}
