/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.appHeader {
  --internal-border-color: #ddd;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--internal-border-color);

  /* Negative margin is here to compensate for the children's margins */
  margin: 0 -0.2em 0.5em;
  font-size: 1.5em;
}

:root.dark-mode {
  .appHeader {
    --internal-border-color: var(--grey-60);
  }
}

.appHeaderLink,
.appHeaderLink:visited {
  color: var(--base-foreground-color);
  text-decoration: none;
}

/* Note that :focus-visible styles are defined in focus.css */
.appHeaderLink:hover {
  color: var(--base-foreground-color);
  text-decoration: underline;
}

.appHeaderSlogan {
  margin: 0 0.2em;
}

.appHeaderSubtext {
  font-weight: normal;
}

.appHeaderRightControls {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.appHeaderGithubIcon {
  display: inline-flex;
  align-items: center;
  margin: 0 0.2em;
  transition: opacity 250ms var(--animation-curve);
}

.appHeaderGithubIcon:hover {
  opacity: 0.5;
}

.octicon-mark-github {
  fill: var(--base-foreground-color);
}
