/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 .bottom-stuff {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
}

.bottom-main {
  display: flex;
  position: relative;
  min-height: 0;
  flex: 1;
  flex-flow: column nowrap;
  background: #eee;
}

.sourceStatusOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: max-content;
  min-width: 200px;
  max-width: min(500px, 100%);
  height: min-content;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
  word-break: break-word;
}

.sourceStatusOverlay.loading::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: url(/res/img/spinner.png) center center / 32px 32px no-repeat
}

.sourceStatusOverlay.error::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background: url(/res/img/svg/error.svg) center center / 32px 32px no-repeat;
  filter: brightness(70%) drop-shadow(0 1px rgba(255,255,255, 0.5));
}

.bottom-tabs {
  display: flex;
  overflow: hidden;
  height: 24px;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: var(--grey-10);
  box-shadow: inset 0 -1px var(--grey-30);
  line-height: 18px;
}

.bottom-close-button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background: url(../../../res/img/svg/close-dark.svg) no-repeat center / 16px 16px;
}

.bottom-tabs-reorderable {
  margin: 0;
  padding: 0;
  min-width: 0;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
}

.bottom-tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 0;
  align-items: center;
  margin: 0 0 1px;
  padding: 2px 4px 0;
  border: solid transparent;
  border-width: 0 1px;
  position: relative;
  transition-duration: 200ms;
  transition-property: background-color, border-color;
  cursor: default;
  user-select: none;
}

.bottom-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  height: 2px;
  transition: none;
  opacity: 0;
}

.bottom-tab:not(.bottom-tab--selected):hover {
  background-color: var(--grey-20);
}

.bottom-tab:not(.bottom-tab--selected):hover::before {
  background-color: var(--grey-40);
  transition: opacity 200ms;
  opacity: 1;
}

.bottom-tab--selected {
  margin-bottom: 0;
  padding-bottom: 1px;
  transition: none;
  border-color: var(--grey-30);
  background: white;
}

.bottom-tab--selected::before {
  background-color: var(--blue-50);
  transition: none;
  opacity: 1;
}

.bottom-tab-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -2px 4px 0;
}

.bottom-tab-close-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 1px;
  border: 0;
  background: none;
  border-radius: 2px;
}

.bottom-tab-close-button::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: black;
  -webkit-mask: url(../../../res/img/svg/close-dark.svg) no-repeat center / contain;
  mask: url(../../../res/img/svg/close-dark.svg) no-repeat center / contain;
}

.bottom-tab-close-button:hover::before {
  background-color: white;
}

.bottom-tab-close-button:hover {
  background-color: var(--blue-50);
}

.bottom-tab-close-button:hover:active {
  background-color: var(--blue-60);
}