.compareHome {
  /* Position */
  width: 75%;

  /* Box */
  padding: 8em;
  border: 1px solid #ccc;
  margin: auto;

  /* Other */
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 25px #0b1f50;
}

.compareHomeForm {
  display: grid;
  align-items: center;
  grid-gap: 1em;
  grid-template-columns: auto 1fr;
}

.compareHomeSubmitButton {
  grid-column-start: span 2;
}

.compareHomeFormLabel {
  white-space: nowrap;
}

@media (max-width: 450px) {
  .compareHome {
    width: auto;
    padding: 1em;
  }
}
