.compareHome {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5em;
  align-items: center;

  width: 75%;
  margin: auto;
  padding: 8em;

  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 0 5px 25px #0b1f50;
  background: #fff;
}

.compareHome h1,
.compareHome input[type=submit],
.compareHome p {
  grid-column-start: span 2
}
