.Details {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.sidebar-open-close-button {
  width: 24px;
  height: 24px;
  flex: none;
  margin: 0 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-open-close-button-isopen {
  background-image: url(../../../res/img/svg/pane-collapse.svg);
}

.sidebar-open-close-button-isclosed {
  background-image: url(../../../res/img/svg/pane-expand.svg);
}
