.DetailsContainer .layout-pane > * {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.DetailsContainer .layout-pane:not(.layout-pane-primary) {
  max-width: 600px;
}

/* overriding defaults from splitter-layout */
.DetailsContainer {
  /* SplitterLayout injects position: absolute, this conflicts with our using
   * Flex Layout. */
  position: unset;
}

.DetailsContainer .layout-splitter {
  border-top: 1px solid var(--panel-border-color);
  border-left: 1px solid var(--panel-border-color);
  background: var(--panel-background-color);
}

.DetailsContainer .layout-splitter:hover {
  background: var(--panel-background-color);
}
