.Details {
  display: flex;
  overflow: clip;
  flex: auto;
  flex-direction: column;
}

/* contains the tabbar and, if present, the sidebar button */
.Details-top-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between; /* This pushes the sidebar button to the right */
  border: solid var(--grey-30);
  border-width: 1px 0;
  background: var(--grey-10);
}

.sidebar-open-close-button {
  width: 24px;
  height: 24px;
  flex: none;
  margin: 0 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-open-close-button-isopen {
  background-image: url(firefox-profiler-res/img/svg/pane-collapse.svg);
}

.sidebar-open-close-button-isclosed {
  background-image: url(firefox-profiler-res/img/svg/pane-expand.svg);
}
