.DetailsContainer .layout-pane > * {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.DetailsContainer .layout-pane:not(.layout-pane-primary) {
  max-width: 600px;

  @media screen and (max-width: 768px) {
    max-width: 80%;
  }
}

/* overriding defaults from splitter-layout */
.DetailsContainer {
  /* SplitterLayout injects position: absolute, this conflicts with our using
   * Flex Layout. */
  position: unset;
}

.DetailsContainer .layout-splitter {
  border-top: 1px solid var(--grey-30);
  border-left: 1px solid var(--grey-30);
  background: var(--grey-10); /* Same background as sidebars */
}

.DetailsContainer .layout-splitter:hover {
  background: var(--grey-30); /* same as the border above */
}
