.DetailsContainer {
  display: flex;
  box-sizing: border-box;
  flex: 1;
  flex-flow: row nowrap;
  contain: size;
}

.DetailsContainerResizableSidebarWrapper {
  max-width: 600px;
}

/* overriding defaults from ResizableWithSplitter.css */
.DetailsContainerResizableSidebarWrapper > .resizableWithSplitterSplitter {
  border-top: 1px solid var(--panel-border-color);
  border-left: 1px solid var(--panel-border-color);
  background: var(--panel-background-color); /* Same background as sidebars */
}

.DetailsContainerResizableSidebarWrapper
  > .resizableWithSplitterSplitter:hover {
  background: var(--panel-background-color); /* same as the border above */
}

.DetailsContainerResizableSidebarWrapper > .resizableWithSplitterInner > * {
  min-width: 0;
  flex: 1;
}
