.appErrorBoundary {
  --internal-background-color: var(--grey-20);

  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--internal-background-color);
}

:root.dark-mode {
  .appErrorBoundary {
    --internal-background-color: var(--ink-80);
  }
}

.appErrorBoundaryContents {
  display: flex;
  width: 100%;
  max-width: 800px;
  max-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.appErrorBoundaryInnerText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.appErrorBoundaryInnerText > p {
  padding: 0;
  margin: 0;
}
