.appFooterLinks {
  /* Position */
  position: fixed;
  right: 0;
  bottom: 0;

  /* Box */
  padding: 0 3px;

  /* Other */
  border-top: 1px solid var(--grey-40);
  border-left: 1px solid var(--grey-40);
  background-color: var(--grey-20);
}

.appFooterLinksLink,
.appFooterLinksClose {
  display: inline-block;
  padding: 3px 5px;
  color: var(--blue-60);
  text-decoration: none;
}

.appFooterLinksClose {
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
  font: inherit;
}

.appFooterLinksLink:hover,
.appFooterLinksClose:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .appFooterLinks {
    width: 100%;
    text-align: center;
  }
}
