/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.home {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  line-height: 1.5;
}

.homeSpecialMessage {
  padding: 8px 16px;
  border: 1px solid #000;
  margin: 17px 0;
  background-color: #798fc8;
  border-radius: 3px;
  color: #fff;
}

.homeSection {
  position: relative;
  overflow: hidden;
  width: 75%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 4em 8em;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 25px #0b1f50;
  font-size: 130%;
}

.homeSection kbd {
  display: inline-block;
  padding: 0 0.5em;
  border: 1px solid #ccc;
  margin: 0 0.2em;
  background-color: #f6f6f6;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0 #bbb;
}

.homeSectionItems {
  margin: 1em 0;
}

.homeSectionScreenshot {
  width: 390px;
  max-width: 100%;
  height: auto;
  border: 1px solid #d1d1d1;
  border-radius: 0.4em;
  box-shadow: 0 2px 4px #ddd;
  place-self: center;
}

.homeAdditionalContentTitle {
  margin-top: 0;
  margin-bottom: 10px;
  grid-column: 1 / -1; /* from start to end */
}

.homeActions > p:first-child,
.homeRecentUploadedRecordingsTitle {
  margin-top: 0;
}

.homeSectionButton {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid var(--blue-60);
  margin: 15px 0;
  background-color: #fff;
  color: var(--blue-60);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms;
}

.homeSectionLoadProfile {
  position: relative;
}

.homeSectionActionButtons {
  display: flex;
}

.homeSectionActionButtons .homeSectionButton {
  flex: 1;
  margin: 5px 0;
}

.homeSectionActionButtons button {
  border-left: none;
}

.homeSectionLoadFromUrl {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.homeSectionActionButtons .homeSectionButton,
.homeSectionLoadFromUrl .homeSectionButton {
  padding: 0.3em 1em;
  font-size: 13px;
}

.homeSectionButton:hover,
.homeSectionButton[aria-expanded="true"] {
  background-color: var(--blue-60);
  color: #fff;
}

.homeSectionPlus {
  position: relative;
  top: 2px;
  padding-right: 12px;
  padding-left: 5px;
  font-size: 26px;
  line-height: 0;
}

.homeSectionDocsIcon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px -4px 3px;
  background: url(../../../res/img/svg/help-blue.svg);
  background-size: 100% 100%;
}

.homeSectionButton:hover .homeSectionDocsIcon {
  /* Make the icon white */
  filter: grayscale(1) brightness(3);
}

.homeInstructions,
.homeAdditionalContent {
  display: grid;
  margin-top: 30px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.homeInstructionsTransitionGroup {
  position: relative;
}

.homeTransition-enter {
  opacity: 0.1;
  transform: translateX(100px);
}

.homeTransition-enter.homeTransition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

/* This code comes from https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */

.homeSectionUploadFromFileInput {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.homeSectionLoadFromUrlInput {
  flex: auto;
  margin: 0 10px 0 0;
}

.homeSectionLoadFromUrlSubmitButton {
  margin: 0;
}

/* because the button is hidden, the focus indicator styling
is applied to the parent label */
label.homeSectionButton:focus-within {
  box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50),
    0 0 0 4px var(--blue-50-a30);
}

@media (max-width: 1300px) {
  .homeSection {
    padding: 5em;
  }
}

@media (max-width: 1100px) {
  .homeSection {
    max-width: 80%;
    padding: 3em;
  }

  .homeAdditionalContent,
  .homeInstructions {
    grid: none;
  }
}

@media (max-width: 767px) {
  .homeSection {
    width: 90%;
    max-width: 90%;
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media (max-width: 499px) {
  .homeSection {
    width: 95%;
    max-width: 95%;
    padding-right: 1em;
    padding-left: 1em;
  }
}
