/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.publishedProfilesList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.publishedProfilesListItem {
  padding: 0;
}

.publishedProfilesLink {
  display: flex;
  padding: 4px 8px; /* 4px as vertical padding so that it's 8 when added up, and 8px for the left and right padddings */
  color: inherit;
  text-decoration: none;
}

.publishedProfilesLink:hover {
  background: var(--grey-90-a05);
}

.publishedProfilesDate {
  width: 10em; /* The default flex properties make that it can shrink, so this is really the initial size. */
  padding-right: 4px;
  white-space: nowrap;
}

.publishedProfilesInfo {
  min-width: 0;
}

.publishedProfilesName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
