/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.publishedProfiles {
  /* Box */
  width: 95%;
  box-sizing: border-box;
  padding: 3em 1em;
  border: 1px solid #ccc;
  margin: auto;

  /* Other */
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 25px #0b1f50;
  font-size: 13px;
  line-height: 1.5;
}

.publishedProfilesList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.publishedProfilesDate {
  position: absolute;
}

.publishedProfilesName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.publishedProfilesName,
.publishedProfilesList .profileMetaInfoSummary {
  padding-left: 10em;
}

.publishedProfilesListItem {
  padding: 5px 0;
}

.publishedProfilesLink {
  display: block;
  padding: 2px 5px;
  color: inherit;
  text-decoration: none;
}

.publishedProfilesLink:hover {
  background: var(--grey-90-a10);
}

/* In larger screens, we remove the flex characteristics but force some width
 * for the first element.
 * We also add some more padding and change how the width is computed.
 *
 * 47em is 752px (there's a 16 multiplicator), 29em is 464px, which were the
 * right values when testing on Linux. Fonts are usually larger on Linux for
 * the profiler, so in other OSes we could decide that the value is too large,
 * but this is fine. */
@media (min-width: 47rem) {
  .publishedProfiles {
    width: 75%;
    max-width: 1200px;
    padding: 6em;
  }
}

@media (min-width: 29rem) {
  .publishedProfiles .profileMetaInfoSummaryProductAndVersion,
  .publishedProfiles .profileMetaInfoSummaryPlatform {
    flex: none;
  }

  .publishedProfiles .profileMetaInfoSummaryProductAndVersion {
    min-width: 8.5em; /* This tries to align the second element, but we allow it to grow if necessary */
  }
}
