/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.profileSharing {
  --internal-share-button-background-color: var(--share-button-background-color, hsl(137,81%,44%));
  --internal-uploading-button-background-color: var(--uploading-button-background-color, #38445f);
  --internal-uploading-progress-fill-color: var(--uploading-progress-fill-color, #7990c8);
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.profileSharingCompositeButtonContainer {
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid var(--grey-30);
  border-right: 1px solid var(--grey-30);
}

.profileSharingShareButton,
.profileSharingUploadingButton,
.profileSharingPermalinkButton,
.profileSharingUploadErrorButton,
.profileSharingSecondaryShareButton {
  height: 24px;
  margin-bottom: -24px;
}

.profileSharingUploadingButton {
  overflow: hidden;
}

.profileSharingUploadingButtonInner {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

.profileSharingUploadingButtonLabel {
  padding: 0 10px;
  line-height: 24px;
  text-align: center;
  color: hsla(0,0%,100%,0.7);
  position: relative;
  -moz-user-select: none;
  cursor: default;
}

.profileSharingUploadingButtonProgress {
  height: 24px;
  margin-bottom: -24px;
  width: 100%;
  background: var(--internal-uploading-button-background-color);
  border: 0;
  transform-origin: bottom left;
}

.profileSharingUploadingButtonProgress::-moz-progress-bar {
  background: var(--internal-uploading-progress-fill-color);
}

.profileSharingShareButtonButton:not([disabled]),
.profileSharingSecondaryShareButtonButton:not([disabled]) {
  background-color: var(--internal-share-button-background-color);
  color: white;
}

.profileSharingCompositeButtonContainer:not(.currentButtonIsShareButton) > .profileSharingShareButton,
.profileSharingCompositeButtonContainer:not(.currentButtonIsUploadingButton) > .profileSharingUploadingButton,
.profileSharingCompositeButtonContainer:not(.currentButtonIsPermalinkButton) > .profileSharingPermalinkButton,
.profileSharingCompositeButtonContainer:not(.currentButtonIsUploadErrorButton) > .profileSharingUploadErrorButton,
.profileSharingCompositeButtonContainer:not(.currentButtonIsSecondaryShareButton) > .profileSharingSecondaryShareButton {
  pointer-events: none;
}

.profileSharingShareButtonButton,
.profileSharingUploadingButtonInner,
.profileSharingPermalinkButtonButton,
.profileSharingUploadErrorButtonButton,
.profileSharingSecondaryShareButtonButton {
  transition: transform 200ms ease-in-out, margin-left 200ms ease-in-out;
}

.profileSharingCompositeButtonContainer:not(.currentButtonIsShareButton) > .profileSharingShareButton > .buttonWithPanelButtonWrapper > .profileSharingShareButtonButton,
.profileSharingCompositeButtonContainer.currentButtonIsPermalinkButton > .profileSharingUploadingButton > .profileSharingUploadingButtonInner,
.profileSharingCompositeButtonContainer.currentButtonIsUploadErrorButton > .profileSharingUploadingButton > .profileSharingUploadingButtonInner,
.profileSharingCompositeButtonContainer:not(.currentButtonIsSecondaryShareButton) .profileSharingSecondaryShareButtonButton {
  transform: translateY(-24px);
}

.profileSharingCompositeButtonContainer.currentButtonIsShareButton > .profileSharingUploadingButton > .profileSharingUploadingButtonInner,
.profileSharingCompositeButtonContainer:not(.currentButtonIsPermalinkButton) > .profileSharingPermalinkButton > .buttonWithPanelButtonWrapper > .profileSharingPermalinkButtonButton,
.profileSharingCompositeButtonContainer:not(.currentButtonIsUploadErrorButton) > .profileSharingUploadErrorButton > .buttonWithPanelButtonWrapper > .profileSharingUploadErrorButtonButton {
  transform: translateY(24px);
}

.currentButtonIsPermalinkButton.currentButtonIsSecondaryShareButton .profileSharingPermalinkButton {
  width: 112px;
}

.currentButtonIsPermalinkButton.currentButtonIsSecondaryShareButton .profileSharingSecondaryShareButton {
  margin-left: 112px;
}

.profileSharingPrivacyPanel,
.profileSharingUploadErrorPanel {
  --width: 280px;
}

.profileSharingProfileDownloadPanel {
  --offset-from-right: 25px;
  --width: 30em;
}

.profileSharingDownloadLink {
  white-space: nowrap;
}

.profileSharingPermalinkTextField {
  width: 14em;
  margin: 5px -5px;
}

.profileSharingShareNetworkUrlsContainer {
  margin: 20px 0;
  -moz-user-select: none;
  user-select: none;
}

.profileSharingShareNetworkUrlsCheckbox {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
