/* this source code form is subject to the terms of the mozilla public
 * license, v. 2.0. if a copy of the mpl was not distributed with this
 * file, you can obtain one at http://mozilla.org/mpl/2.0/. */

.profileNameInput {
  height: 24px;
  padding: 0 6px;
  border: none;
  border-right: 1px solid var(--grey-30);
  color: var(--grey-60);
  font: inherit;
  font-weight: bold;
  line-height: 24px;
}

.profileNameInput:hover {
  border-right: 1px solid var(--grey-90-a30);
  border-bottom: 1px solid var(--grey-90-a30);
}

/* Using the style for links rather than for normal inputs, because we don't
 * want to trigger a border that would move things around. */
.profileNameInput:focus {
  box-shadow: 0 0 0 2px var(--blue-50), 0 0 0 6px var(--blue-50-a30);
  outline: 0;
}
