/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.profileFilterNavigator--tab-selector {
  display: flex;
  align-items: center;

  /* Padding for the arrow on the left side. */
  padding-left: 20px;
  column-gap: 5px;
}

/* This is the dropdown arrow on the left of the button. */
.profileFilterNavigator--tab-selector::before {
  position: absolute;
  top: 4px;
  left: 4px;
  border-top: 6px solid;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  color: var(--internal-selected-color);
  content: '';
}

.profileFilterNavigator--tab-selector.disabled::before {
  /* Disabled tab selector indicates this with a grayed out arrow. */
  color: var(--grey-30);
}
