/* this source code form is subject to the terms of the mozilla public
 * license, v. 2.0. if a copy of the mpl was not distributed with this
 * file, you can obtain one at http://mozilla.org/mpl/2.0/. */

.profileNameInput {
  --internal-foreground-color: var(--grey-60);

  height: 17px;
  padding: 0 6px;
  border: none;
  border-radius: 1px;
  margin: 4px;
  color: var(--internal-foreground-color);
  font: inherit;
  font-weight: 700;
  line-height: 17px;
}

.profileNameButton {
  --internal-icon: url(../../../res/img/svg/edit-name-profiler.svg);

  overflow: hidden;
  min-width: 80px;
  padding: 0 9px;
  font-weight: 700;
  margin-inline-end: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root.dark-mode {
  .profileNameInput {
    --internal-foreground-color: var(--base-foreground-color);
  }

  .profileNameButton {
    --internal-icon: url(../../../res/img/svg/edit-name-profiler-light.svg);
  }
}

.profileNameButton::before {
  flex-shrink: 0;
  background-image: var(--internal-icon);
}
