@keyframes profileViewerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profileViewer {
  background-color: #fff;
  animation-name: profileViewerFadeIn;
  animation-duration: 200ms;
}

.profileViewerName {
  height: 24px;
  padding: 0 6px 0 2px;
  border-right: 1px solid var(--grey-30);
  line-height: 24px;
  font-weight: bold;
  color: var(--grey-60);
}

.profileViewerZipButton {
  width: 18px;
  height: 18px;

  margin: 3px;
  padding: 0;
  border: 1px solid var(--green-60);

  color: #000;
  background-color: var(--green-50);
  border-radius: 3px;
}

.profileViewerZipButton:hover {
  background-color: var(--green-60);
}
