@keyframes profileViewerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes profileViewerFadeInSanitized {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
  }
}

@keyframes profileViewerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.profileViewerWrapper {
  display: flex;
  min-width: 0;
  flex: 1;
}

.profileViewerWrapperBackground {
  background-color: var(--grey-40);
}

.profileViewer {
  flex-flow: column nowrap;
  animation-duration: 200ms;
  animation-name: profileViewerFadeIn;
  background-color: #fff;
}

body,
.profileViewer {
  display: flex;
  min-width: 0; /* This allows Flexible Layout to shrink this further than its min-content */
  flex: 1;
}

.profileViewerFadeOut {
  /* Keep this duration in sync with the value in hideStaleProfile() */
  animation-duration: 300ms;
  animation-name: profileViewerFadeOut;
  opacity: 0;
  pointer-events: none;
}

.profileViewerFadeInSanitized {
  animation-duration: 500ms;
  animation-name: profileViewerFadeInSanitized;
}

.profileViewerZipButton {
  /* Position */
  width: 18px;
  height: 18px;

  /* Box */
  flex: none;
  padding: 0;
  border: 1px solid var(--green-60);
  margin: 3px 0 3px 3px;

  /* Other */
  background: var(--green-50) url(../../../res/img/svg/back-arrow.svg) center
    center no-repeat;
  border-radius: 3px;
  color: #000;
}

.profileViewerZipButton:hover {
  border-color: #000;
}

.profileViewerSplitter {
  /* Reset the position: absolute that is set by the splitter-layout class */
  position: unset;
}

.profileViewerSplitter > .layout-pane:not(.layout-pane-primary) {
  display: flex;
  overflow: hidden;
  max-height: var(--profile-viewer-splitter-max-height);
  flex-direction: column;
}

.profileViewerTopBar {
  display: flex;
  height: 24px;
  flex: none;
  flex-flow: row nowrap;
  padding: 0;
  border-bottom: 1px solid var(--grey-30);
  margin: 0;
  background: var(--grey-10);
}

.profileViewerSpacer {
  flex: 1;
}
