/* this source code form is subject to the terms of the mozilla public
 * license, v. 2.0. if a copy of the mpl was not distributed with this
 * file, you can obtain one at http://mozilla.org/mpl/2.0/. */

.profileViewerName {
  height: 24px;
  padding: 0 6px;
  border-right: 1px solid var(--grey-30);
  color: var(--grey-60);
  font-weight: bold;
  line-height: 24px;
}
