/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.serviceworker-ready-notice-wrapper {
  /* Position */
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;

  /* Box */
  display: flex;

  /* Other */
  pointer-events: none;
}
.serviceworker-ready-notice {
  /* Box */
  display: flex;
  align-items: center;
  padding: 0 4px;
  margin: 0 auto;

  /* Other */
  background: var(--grey-20);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--grey-90);
  pointer-events: auto;
}

.serviceworker-ready-notice-close-button {
  /* Position */
  width: 16px;
  height: 16px;

  /* Box */
  flex: none;
  padding: 4px;
  margin-left: 8px;

  /* Other */
  background-image: url(../../../res/img/svg/close-dark.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border-radius: 4px;
}

.serviceworker-ready-notice-action-button {
  margin-left: 8px;
}

.serviceworker-ready-notice p {
  flex: auto;
  padding: 0.5em 0.5em 0.5em 24px;
  margin: 0;
  background: url(../../../res/img/svg/info-icon.svg) no-repeat left center /
    16px 16px;
}
