/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.symbolicationStatusOverlay {
  --internal-background-color: var(--grey-20);

  position: fixed;
  top: -8px;
  right: 30%;
  left: 30%;
  overflow: hidden;
  height: 20px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0 0 5px 5px;
  background: var(--internal-background-color);
  box-shadow:
    0 0 0 0.5px var(--base-shadow-color),
    0 2px 4px var(--base-shadow-color);
  line-height: 20px;
  text-align: center;
  text-overflow: ellipsis;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  white-space: nowrap;
  will-change: opacity, transform;
}

:root.dark-mode {
  .symbolicationStatusOverlay {
    --internal-background-color: var(--ink-80);
  }
}

.symbolicationStatusOverlay.hidden {
  opacity: 0;
  transform: translateY(-30px);
}
