/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Removing styling from the button */
.tabBarTabButton {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  font: inherit;
  text-overflow: ellipsis;
}

.tabBarTabWrapper {
  display: flex;
  min-width: 0; /* This makes the tab container actually shrinkable below min-content */
  flex-flow: row nowrap;
  padding: 0;
  margin: 0 -0.5px; /* This combines with the -0.5px horizontal margin of .tabBarTab to clip off the first tab's 1px starting border */
  list-style: none;
}

.tabBarTab {
  position: relative;
  min-width: 8em;
  padding: 6px 4px;
  border: solid transparent;
  border-width: 0 1px;
  margin: 0 -0.5px; /* This makes the 1px border between adjacent tabs overlap */
  background-clip: padding-box;
  cursor: default;
  font-size: 12px;
  text-align: center;
  transition:
    background-color 200ms,
    border-color 200ms;
  transition-timing-function: var(--animation-timing);
  user-select: none;
  white-space: nowrap;
}

/* Place the top tab bar in a separate element to avoid tapered corners. */
.tabBarTab::before {
  position: absolute;
  top: 0;
  right: -1px;
  left: -1px;
  height: 2px;
  background-color: transparent;
  content: '';
  transition:
    background-color 200ms,
    border-color 200ms;
  transition-timing-function: var(--animation-timing);
}

.tabBarTab.selected::before {
  background-color: var(--blue-50);
  transition: none; /* Switch the background color instantly when a tab is selected */
}

.tabBarTab:not(.selected):hover {
  border-color: var(--grey-20);
  background-color: var(--grey-20);
}

.tabBarTab:not(.selected):hover::before {
  background-color: var(--grey-40);
}

.tabBarTab.selected {
  z-index: 1;
  border-color: var(--grey-30);
  margin-bottom: -1px; /* Expand 1px towards the bottom to cover the tab bar bottom border. */
  background: #fff;
  color: var(--blue-60);
  transition: none; /* Switch the background color instantly when a tab is selected */
}
