/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tabs,
.tabs-reorderable {
  min-width: 0;
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
}

.tabs-reorderable {
  margin: 0 -0.5px;
  padding: 0;
}

.tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 0;
  align-items: center;
  margin: 0 -0.5px 1px;
  padding: 2px 4px 0;
  border: solid transparent;
  border-width: 0 1px;
  position: relative;
  transition-duration: 200ms;
  transition-property: background-color, border-color;
  cursor: default;
  user-select: none;
}

.tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  height: 2px;
  transition: none;
  opacity: 0;
}

.tab:not(.tab--selected):hover {
  background-color: var(--grey-20);
}

.tab:not(.tab--selected):hover::before {
  background-color: var(--grey-40);
  transition: opacity 200ms;
  opacity: 1;
}

.tab--selected {
  z-index: 1;
  margin-bottom: 0;
  padding-bottom: 1px;
  transition: none;
  border-color: var(--grey-30);
  background: white;
}

.bottom-box-tabs:focus-visible {
  outline: 0;
}

.bottom-box-tabs:focus-visible .tab--selected {
  text-decoration: underline;
  color: var(--blue-60);
}

.tab--selected::before {
  background-color: var(--blue-50);
  transition: none;
  opacity: 1;
}

.tab-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -2px 4px 0;
}

.tab-close-button {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 1px;
  border: 0;
  background: none;
  border-radius: 2px;
}

.tab-close-button::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: black;
  -webkit-mask: url(../../../res/img/svg/close-dark.svg) no-repeat center / contain;
  mask: url(../../../res/img/svg/close-dark.svg) no-repeat center / contain;
}

.tab-close-button:hover::before {
  background-color: white;
}

.tab-close-button:hover {
  background-color: var(--blue-50);
}

.tab-close-button:hover:active {
  background-color: var(--blue-60);
}