/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.zipFileViewer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.zipFileViewerHeader {
  padding: 0 20px;
  font-size: 130%;
}

.zipFileViewerSection {
  /* Position */
  position: relative;
  display: flex;
  overflow: hidden;
  width: 75vw;
  max-width: 1200px;
  height: 75vh;

  /* Box */
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid #ccc;

  /* Other */
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 25px #0b1f50;
}

.zipFileViewerSection > .treeView {
  font-size: 14px;
}

.zipFileViewerSection .treeRowToggleButton {
  margin: 0 5px;
}

.zipFileViewerMessage {
  /* Box */
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--grey-30);

  /* Other */
  background-color: #f5f5f5;
  font-size: 14px;
}

.zipFileViewerMessage > * {
  margin: 10px 30px;
}

.zipFileViewerUntrustedFilePath {
  display: inline-block;
  overflow: hidden;

  /**
   * Make the max width 50% so that some random user can't spam a bunch of misleading
   * content into an error message on perf.html.
   */
  max-width: 70%;
  padding: 0 5px;
  background-color: var(--grey-30);
  border-radius: 3px;
  font-family: monospace;
  text-overflow: ellipsis;
}
