/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.menuButtons {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
}

.menuButtonsLink {
  position: relative;
  height: 24px;
  padding: 0 20px;
  border-left: 1px solid var(--grey-30);
  color: var(--grey-90);
  cursor: default;
  line-height: 24px;
  text-decoration: none;
}

.menuButtonsLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.open-in-new {
  padding: 10px;
  background-image: url(../../../../res/img/svg/open-in-new.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
}

.menuButtonsButton {
  height: 100%;
  padding: 0 20px;
  border: 0;
  border-left: 1px solid var(--grey-30);
  margin: 0;
  background: none;

  /* Inherit the color rather than using the browser's */
  color: inherit;
  font-size: 100%;
  white-space: nowrap;
}

.menuButtonsButton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.buttonWithPanel.open > .menuButtonsButton,
.menuButtonsButton:hover:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
