/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.metaInfoPanel {
  --internal-label-foreground-color: var(--grey-50);
  --internal-subtitle-border-color: rgb(0 0 0 / 0.05);

  width: 350px;
  color: var(--menu-foreground-color);
  font-size: 12px;
  line-height: 20px;
}

.metaInfoPanel,
.metaInfoPanel .arrowPanelArrow::before {
  background-color: var(--menu-background-color);
}

:root.dark-mode {
  .metaInfoPanel {
    --internal-label-foreground-color: var(--grey-40);
    --internal-subtitle-border-color: rgb(237 237 240 / 0.05);
  }
}

.metaInfoSection {
  margin-top: 7px;
  margin-bottom: 12px;
}

.metaInfoLabel,
.metaInfoWideLabel {
  display: inline-block;
  width: 120px;
  color: var(--internal-label-foreground-color);
}

.metaInfoLargeContent {
  overflow: scroll;
  max-height: 100px;
  overflow-wrap: anywhere;
}

.metaInfoWideLabel {
  width: 140px;
}

.visualMetricsLabel {
  display: inline-block;
  width: 145px;
  color: var(--internal-label-foreground-color);
}

.metaInfoList {
  padding: 0;

  /* Explanations about this margin line:
   * - we need to reset it anyway, because we need to remove the default style
   *   for <ul> tags.
   * - -19px moves the list up, next to the label.
   * - 122px is 120px (the width of the label) + a few pixels so that this looks
   *   better.
   */
  margin: -19px 0 0 122px;
  list-style: circle inside;
}

.metaInfoListRow + .metaInfoListRow {
  margin-top: 7px;
}

.metaInfoSubTitle {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--internal-subtitle-border-color);
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}

.moreInfoSummary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  user-select: none;
}

.moreInfoSummary::marker {
  content: '';
}

.moreInfoPart {
  margin-top: 15px;
}

.moreInfoValue {
  overflow-x: scroll;
}
