/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This background image builds on the generic styles defined in
 * MenuButtons/index.css when using an icon. */
.menuButtonsPermalinkButtonButton {
  --internal-icon: url(../../../../res/img/svg/link-dark-12.svg);
}

:root.dark-mode {
  .menuButtonsPermalinkButtonButton {
    --internal-icon: url(../../../../res/img/svg/link-light-12.svg);
  }
}

.menuButtonsPermalinkButtonButton::before {
  background-image: var(--internal-icon);
}

.menuButtonsPermalinkPanel .arrowPanelContent {
  /* Override the default padding for ArrowPanel */
  padding: 4px;
}

.menuButtonsPermalinkTextField {
  width: 20em;
  height: 19px;

  /* Use a monospace font so that I and l can be differentiated */
  font-family: ui-monospace, monospace;
  font-size: 12px;
}
