/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.menuButtonsShareButton,
.menuButtonsPermalinkButton,
.menuButtonsRevertButton,
.menuButtonsAbortUploadButton {
  height: 24px;
  border-left: 1px solid var(--grey-30);
  margin-bottom: -24px;
}

.menuButtonsAbortUploadButton {
  background-color: var(--green-70);
  color: #fff;
}

.menuButtonsUploadingButtonLabel {
  position: relative;
  padding: 0 10px;
  color: hsla(0, 0%, 100%, 0.7);
  cursor: default;
  line-height: 24px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.menuButtonsShareButtonOriginal {
  background-color: var(--green-70);
  color: white;
}

.menuButtonsShareButtonError {
  background-color: var(--red-60);
  color: white;
}

.menuButtonsPublishPanel {
  --width: 500px;
}

.menuButtonsPermalinkTextField {
  width: 16em;
  height: 19px;
  padding: 0 4px;
  margin: 5px -5px;
}

.menuButtonsPublishContent {
  position: relative;
  padding: 0 0 10px 70px;
}

.menuButtonsPublishIcon {
  position: absolute;
  top: -6px;
  left: 10px;
  width: 44px;
  height: 44px;
  background: url(../../../../res/img/svg/info.svg) center center no-repeat;
}

.menuButtonsPublishTitle {
  margin-top: 25px;
  margin-bottom: 15px;
}

.menuButtonsPublishInfoDescription {
  flex: 1;
  margin-bottom: 1em;
  font-size: 13px;
  line-height: 1.5;
}

.menuButtonsPublishDataChoices {
  margin-left: 10px;
}

.menuButtonsPublishDataChoicesLabel {
  display: flex;
  margin: 4px 0;
}

.menuButtonsPublishDataLabel {
  display: block;
  line-height: 2.3;
}

.menuButtonsPublishButtons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.menuButtonsPublishButton {
  display: inline-flex;
  min-width: 132px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: default;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.menuButtonsPublishButtonDisabled {
  opacity: 0.6;
}

.menuButtonsPublishButtonDisabled:hover,
.menuButtonsPublishButtonDisabled:active:hover {
  background-color: var(--grey-90-a10);
}

.menuButtonsPublishButtonsSvg {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-top: -6px;
  margin-right: 5px;
}

.menuButtonsPublishButtonsSvgUpload {
  width: 20px;
  height: 20px;
  background: url(../../../../res/img/svg/upload.svg) center center no-repeat;
}

.menuButtonsPublishButtonsSvgDownload {
  width: 20px;
  height: 20px;
  background: url(../../../../res/img/svg/download.svg) center center no-repeat;
}

.menuButtonsDownloadSize {
  display: inline-block;
  margin: 0 4px;
  font-size: 11px;
}

.menuButtonsPublishUpload {
  position: relative;
  padding: 10px 0;
}

.menuButtonsPublishUploadTop {
  margin: 10px;
}

.menuButtonsPublishUploadTitle {
  font-size: 17px;
  font-weight: bold;
}

.menuButtonsPublishUploadPercentage {
  margin: 10px 0;
  color: var(--blue-60);
  font-size: 13px;
}

.menuButtonsPublishUploadBar {
  overflow: hidden;
  height: 5px;
  background-color: var(--grey-40);
  border-radius: 2px;
}

.menuButtonsPublishUploadBarInner {
  position: absolute;
  top: 0;
  height: 3px;
  animation: animate-stripes 1s linear infinite;
  background-color: var(--blue-50);
  background-image: linear-gradient(
    135deg,
    transparent 20%,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.4) 40%,
    transparent 40%,
    transparent 60%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    transparent 80%
  );
  background-size: 21px 20px, 100% 100%, 100% 100%;
  border-radius: 0 2px 2px 0;
}

@keyframes animate-stripes {
  100% {
    background-position: -21px 0;
  }
}

.menuButtonsPublishError {
  margin: 10px 0;
  font-size: 13px;
}
