/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.menuButtonsCompositeButtonContainer {
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid var(--grey-30);
  border-left: 1px solid var(--grey-30);
}

.menuButtonsShareButton,
.menuButtonsUploadingButton,
.menuButtonsPermalinkButton,
.menuButtonsUploadErrorButton {
  height: 24px;
  margin-bottom: -24px;
}

.menuButtonsPermalinkButton {
  border-left: 1px solid var(--grey-30);
}

.menuButtonsUploadingButton {
  overflow: hidden;
}

.menuButtonsUploadingButtonInner {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
}

.menuButtonsUploadingButtonLabel {
  position: relative;
  padding: 0 10px;
  color: hsla(0, 0%, 100%, 0.7);
  cursor: default;
  line-height: 24px;
  text-align: center;
  -moz-user-select: none;
}

/* The button width needs to be large enough so that the text "Share Without URLs" fits */
.menuButtonsUploadingButtonInner,
.menuButtonsPermalinkButtonButton,
.menuButtonsUploadErrorButtonButton {
  width: 115px;
}

/* The button will be larger during symbolication to fit the text:
"Sharing will be enabled once symbolication is complete" */
.menuButtonsShareButtonButton {
  min-width: 115px;
  background-color: #0d8730;
  color: white;
}

.menuButtonsUploadingButtonProgress {
  width: 100%;
  height: 24px;
  margin-bottom: -24px;
  border: 0;
  background: var(--internal-uploading-button-background-color);
  transform-origin: bottom left;
}

.menuButtonsUploadingButtonProgress::-moz-progress-bar {
  background: var(--internal-uploading-progress-fill-color);
}

/* CSSTransition */
.buttonWithPanelButton,
.menuButtonsUploadingButtonInner {
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.menuButtonsTransitionUp-enter .buttonWithPanelButton,
.menuButtonsTransitionUp-enter .menuButtonsUploadingButtonInner {
  opacity: 0;
  transform: translateY(100%);
}

.menuButtonsTransitionUp-enter-active .buttonWithPanelButton,
.menuButtonsTransitionUp-enter-active .menuButtonsUploadingButtonInner {
  opacity: 1;
  transform: translateY(0);
}

.menuButtonsTransitionUp-exit .buttonWithPanelButton,
.menuButtonsTransitionUp-exit .menuButtonsUploadingButtonInner {
  opacity: 1;
  transform: translateY(0);
}

.menuButtonsTransitionUp-exit-active .buttonWithPanelButton,
.menuButtonsTransitionUp-exit-active .menuButtonsUploadingButtonInner {
  opacity: 0;
  transform: translateY(-100%);
}

/* end of CSSTransition */

/* permalink button is hidden whenever uploading is in progress, but is
 * moved up when uploading is finished. */
.currentButtonIsUploadingButton .menuButtonsPermalinkButtonButton {
  opacity: 0;
  transform: translateY(100%);
}

.menuButtonsPublishPanel,
.menuButtonsUploadErrorPanel {
  --width: 500px;
}

.menuButtonsPermalinkTextField {
  width: 14em;
  height: 19px;
  padding: 0 4px;
  margin: 5px -5px;
}

.menuButtonsShareNetworkUrlsContainer {
  margin: 20px 0;
  -moz-user-select: none;
  user-select: none;
}

.menuButtonsShareNetworkUrlsCheckbox {
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}

.menuButtonsProfileDownloadPanel {
  --offset-from-right: 25px;
  --width: 30em;
}

.menuButtonsDownloadLink {
  white-space: nowrap;
}

.menuButtonsPublishContent {
  position: relative;
  padding: 10px 0 10px 60px;
}

.menuButtonsPublishIcon {
  position: absolute;
  top: 32px;
  left: 5px;
  width: 44px;
  height: 44px;
  background: url(../../../../res/img/svg/info.svg) center center no-repeat;
}

.menuButtonsPublishInfoDescription {
  flex: 1;
  margin-bottom: 1em;
  font-size: 13px;
  line-height: 1.5;
}

.menuButtonsPublishDataChoices {
  margin-left: 35px;
}

.menuButtonsPublishDataChoicesLabel {
  display: flex;
  margin: 4px 0;
}

.menuButtonsPublishDataSummary {
  margin: 13px 8px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.menuButtonsPublishDataLabel {
  display: block;
  line-height: 2.3;
}

.menuButtonsPublishButtons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.menuButtonsPublishButton {
  display: inline-flex;
  min-width: 132px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: default;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.menuButtonsPublishButtonDisabled {
  opacity: 0.6;
}

.menuButtonsPublishButtonDisabled:hover,
.menuButtonsPublishButtonDisabled:active:hover {
  background-color: var(--grey-90-a10);
}

.menuButtonsPublishButtonsSvg {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-top: -6px;
  margin-right: 5px;
}

.menuButtonsPublishButtonsSvgUpload {
  width: 20px;
  height: 20px;
  background: url(../../../../res/img/svg/upload.svg) center center no-repeat;
}

.menuButtonsPublishButtonsSvgDownload {
  width: 20px;
  height: 20px;
  background: url(../../../../res/img/svg/download.svg) center center no-repeat;
}

.menuButtonsDownloadSize {
  display: inline-block;
  margin: 0 4px;
  font-size: 11px;
}

.menuButtonsPublishUpload {
  position: relative;
  padding: 10px 0;
}

.menuButtonsPublishUploadTop {
  margin: 10px;
}

.menuButtonsPublishUploadTitle {
  font-size: 17px;
  font-weight: bold;
}

.menuButtonsPublishUploadPercentage {
  margin: 10px 0;
  color: var(--blue-60);
  font-size: 13px;
}

.menuButtonsPublishUploadBar {
  overflow: hidden;
  height: 5px;
  background-color: var(--grey-40);
  border-radius: 2px;
}

.menuButtonsPublishUploadBarInner {
  height: 5px;
  animation: animate-stripes 1s linear infinite;
  background-color: var(--blue-50);
  background-image: linear-gradient(
    135deg,
    transparent 20%,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.4) 40%,
    transparent 40%,
    transparent 60%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    transparent 80%
  );
  background-size: 21px 20px, 100% 100%, 100% 100%;
  border-radius: 2px;
}

@keyframes animate-stripes {
  100% {
    background-position: -21px 0;
  }
}

.menuButtonsPublishUrl {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--grey-30);
  background: #fff;
  border-radius: 3px;
}

.menuButtonsPublishMessage {
  margin: 14px 0;
  font-size: 13px;
}

.menuButtonsPublishPreviousUrl {
  margin: 17px 5px -15px;
}

.menuButtonsPublishPreviousUrlTitle {
  margin-bottom: 10px;
  color: var(--grey-70);
  font-size: 14px;
  font-weight: bold;
}

.menuButtonsPublishError {
  margin: 10px 0;
  font-size: 13px;
}
