/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* These two background images build on the generic styles defined in
 * MenuButtons/index.css when using an icon. */
.menuButtonsShareButtonButton::before {
  background-image: url(firefox-profiler-res/img/svg/share-dark-12.svg);
}

.menuButtonsShareButtonButton-uploading::before {
  background-image: url(firefox-profiler-res/img/svg/sharing-animated-dark-12.svg);
}

.menuButtonsShareButtonError {
  background-color: var(--red-60);
  color: white;
}

.menuButtonsShareButtonError:hover {
  background-color: var(--red-70);
}

.buttonWithPanel.open > .menuButtonsShareButtonError,
.menuButtonsShareButtonError:hover:active {
  background-color: var(--red-80);
}

.menuButtonsShareButtonError::before {
  background-image: url(firefox-profiler-res/img/svg/error.svg);
}

.menuButtonsPublishPanel {
  --width: 510px;
}

.menuButtonsPublishContent {
  position: relative;

  /* This aligns all content, except the big icon. */
  padding-left: 70px;

  /* This is the same value as the "top" property for menuButtonsPublishIcon,
   * so that the visible space at the top is the same as at the bottom. */
  margin-top: 6px;
}

.menuButtonsPublishIcon {
  position: absolute;
  top: -6px;
  left: 10px;
  width: 44px;
  height: 44px;
  background: url(firefox-profiler-res/img/svg/info.svg) center center no-repeat;
}

.menuButtonsPublishTitle {
  margin: 0;
}

.menuButtonsPublishInfoDescription {
  flex: 1;
  margin-bottom: 1em;
  font-size: 13px;
  line-height: 1.5;
}

.menuButtonsPublishDataChoices {
  margin-left: 10px;
}

.menuButtonsPublishDataChoicesLabel {
  display: flex;
  margin: 4px 0;
}

.menuButtonsPublishButtons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.menuButtonsPublishButton {
  display: inline-flex;
  min-width: 132px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: default;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.menuButtonsPublishButtonDisabled {
  opacity: 0.6;
}

.menuButtonsPublishButtonDisabled:hover,
.menuButtonsPublishButtonDisabled:active:hover {
  background-color: var(--grey-90-a10);
}

.menuButtonsPublishButtonsSvg {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-top: -6px;
  margin-right: 5px;
}

.menuButtonsPublishButtonsSvgUpload {
  width: 20px;
  height: 20px;
  background: url(firefox-profiler-res/img/svg/upload.svg) center center
    no-repeat;
}

.menuButtonsPublishButtonsSvgDownload {
  width: 20px;
  height: 20px;
  background: url(firefox-profiler-res/img/svg/download.svg) center center
    no-repeat;
}

.menuButtonsDownloadSize {
  display: inline-block;
  margin: 0 4px;
  font-size: 11px;
}

.menuButtonsPublishUpload {
  position: relative;
  padding: 10px 0;
}

.menuButtonsPublishUploadTop {
  margin: 10px;
}

.menuButtonsPublishUploadTitle {
  font-size: 17px;
  font-weight: bold;
}

.menuButtonsPublishUploadPercentage {
  margin: 10px 0;
  color: var(--blue-60);
  font-size: 13px;
}

.menuButtonsPublishUploadBar {
  overflow: hidden;
  height: 5px;
  background-color: var(--grey-40);
  border-radius: 2px;
}

.menuButtonsPublishUploadBarInner {
  position: absolute;
  top: 0;
  height: 3px;
  animation: animate-stripes 1s linear infinite;
  background-color: var(--blue-50);
  background-image: linear-gradient(
    135deg,
    transparent 20%,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.4) 40%,
    transparent 40%,
    transparent 60%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0.4) 80%,
    transparent 80%
  );
  background-size: 21px 20px, 100% 100%, 100% 100%;
  border-radius: 0 2px 2px 0;
}

@keyframes animate-stripes {
  100% {
    background-position: -21px 0;
  }
}

.menuButtonsPublishError {
  margin: 10px 0;
  font-size: 13px;
}
