/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.jsTracer {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

.jsTracerLoader {
  --internal-background-color: var(--grey-20);
  --internal-border-color: var(--grey-10);

  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-top: solid 1px var(--internal-border-color);
  background-color: var(--internal-background-color);
  font-size: 12px;
  vertical-align: middle;
}

:root.dark-mode {
  .jsTracerLoader {
    --internal-background-color: var(--grey-80);
    --internal-border-color: var(--grey-80);
  }
}

.jsTracerCanvasFadeIn {
  background-color: var(--base-background-color);
  opacity: 0;
}

.jsTracerCanvasFadeIn.jsTracerCanvasDrawn {
  opacity: 1;
  transition: opacity 200ms;
}
