/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.jsTracerSettings {
  --internal-foreground-color: var(--ink-70);

  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  border-bottom: 1px solid var(--base-border-color);
  color: var(--internal-foreground-color);
  line-height: 25px;
}

.jsTracerSettingsList {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.jsTracerSettingsListItem {
  padding: 0;
  margin: 0 5px;
}

.jsTracerSettingsLabel {
  display: inline-flex;
  height: 25px;
  flex-flow: row nowrap;
  align-items: center;
  user-select: none;
}

.jsTracerSettingsCheckbox {
  margin: 0 5px;
}

.jsTracerSettingsFilter {
  --internal-border-color: var(--grey-20);

  padding-right: 10px;
  border-right: 1px solid var(--grey-20);
  white-space: nowrap;
}

.jsTracerSettingsFilterLabel {
  display: inline-flex;
  align-items: center;
  padding-right: 5px;
}

.jsTracerSettingsFilterInput {
  margin: 0 4px;
}

:root.dark-mode {
  .jsTracerSettings {
    --internal-foreground-color: var(--grey-30);
  }

  .jsTracerSettingsFilter {
    --internal-border-color: var(--grey-80);
  }
}
