/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.markerChart {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.markerChartLabels {
  display: flex;
  width: 135px;
  padding: 9px 0 9px 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markerChartLabelsName {
  overflow: hidden;
  flex: 1;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
}
