body,
html {
  font: message-box;
  font-size: 11px;
}

.row {
  padding: 0 3em 2em;
  border-left: 2px solid var(--grey-30);
  margin: 3em 0;
}

.row pre {
  display: block;
  margin: 2em 0;
}

.photon-button-test-image {
  width: 24px;
  height: 24px;
  background-image: url(../img/svg/pane-expand.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

/* Give nearby message bars some room so that they can breathe a bit. */
.photon-message-bar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/* This makes these bars as small as possible */
.flex-container .photon-message-bar {
  margin-right: auto;
}
