html {
  background-color: #34405d;
}
body {
  font: message-box;
  box-shadow: 0 5px 25px #0b1f50;
  background-color: #fff;
  line-height: 1.5;
  padding: 2em;
  margin: 5% auto;
  max-width: 600px;
  width: 80%;
  line-height: 2;
}

#container {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  overflow: hidden;
}

h1 {
  margin-top: 0;
}

body, input, button {
  font-size: 100%;
}
