html {
  background-color: #34405d;
}
body {
  width: 80%;
  max-width: 600px;
  padding: 2em;
  margin: 5% auto;
  background-color: #fff;
  box-shadow: 0 5px 25px #0b1f50;
  font-family: sans-serif;
  line-height: 2;
}

#container {
  overflow: hidden;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 1em 0;
}

h1 {
  margin-top: 0;
}

input,
button {
  font: inherit;
}
