.profileCallTreeSettings {
  height: 25px;
  padding: 0;
  line-height: 25px;
  border-top: 1px solid #D6D6D6;
  background: #F9F9F9;
  display: flex;
  flex-flow: row nowrap;
}

.profileCallTreeSettingsList {
  display: block;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.profileCallTreeSettingsListItem {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.profileCallTreeSettingsLabel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.profileCallTreeSettingsSearchbar {
  padding: 0 10px;
}

.profileCallTreeSettingsSearchField {
  width: 250px;
}
