/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineEmptyThreadIndicator {
  --empty-buffer-color1: rgba(69, 160, 255, 0.225);
  --empty-buffer-color2: rgba(69, 160, 255, 0.075);
  --shutdown-startup-color: rgba(249, 249, 250, 0.6);
}

.timelineEmptyThreadIndicatorBlock {
  position: absolute;
  top: 0;
  bottom: 0;

  /* Don't add the border to the width, as this causes the block to overflow. */
  box-sizing: border-box;
}

.timelineEmptyThreadIndicatorStartup {
  border-right: solid 1px var(--grey-30);
  background-color: var(--shutdown-startup-color);
  box-shadow: inset -4px 0 4px rgba(0, 0, 0, 0.05);
}

.timelineEmptyThreadIndicatorShutdown {
  border-left: solid 1px var(--grey-30);
  background-color: var(--shutdown-startup-color);
  box-shadow: inset 4px 0 4px rgba(0, 0, 0, 0.05);
}

.timelineEmptyThreadIndicatorEmptyBuffer {
  background: repeating-linear-gradient(
    45deg,
    var(--empty-buffer-color1),
    var(--empty-buffer-color1) 8px,
    var(--empty-buffer-color2) 8px,
    var(--empty-buffer-color2) 16px
  );
}

.timelineEmptyThreadIndicatorLongTooltip {
  display: inline-block;
  max-width: 500px;
}
