/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineEmptyThreadIndicator {
  --empty-buffer-color1: rgb(69 160 255 / 0.225);
  --empty-buffer-color2: rgb(69 160 255 / 0.075);

  /* The following color is based off grey-20, but uses opacity instead. */
  --shutdown-startup-color: rgb(0 0 50 / 0.07);
  --shutdown-startup-shadow-color: rgb(0 0 0 / 0.05);
  --shutdown-startup-border-color: var(--grey-30);
}

:root.dark-mode {
  .timelineEmptyThreadIndicator {
    --shutdown-startup-color: rgb(15 18 26 / 0.64);
    --shutdown-startup-shadow-color: rgb(11 11 11 / 0.12);
    --shutdown-startup-border-color: var(--grey-80);
  }
}

.timelineEmptyThreadIndicatorBlock {
  position: absolute;
  top: 0;
  bottom: 0;

  /* Don't add the border to the width, as this causes the block to overflow. */
  box-sizing: border-box;
}

.timelineEmptyThreadIndicatorStartup {
  border-right: solid 1px var(--shutdown-startup-border-color);
  background-color: var(--shutdown-startup-color);
  box-shadow: inset -4px 0 4px var(--shutdown-startup-shadow-color);
}

.timelineEmptyThreadIndicatorShutdown {
  border-left: solid 1px var(--shutdown-startup-border-color);
  background-color: var(--shutdown-startup-color);
  box-shadow: inset 4px 0 4px var(--shutdown-startup-shadow-color);
}

.timelineEmptyThreadIndicatorEmptyBuffer {
  background: repeating-linear-gradient(
    45deg,
    var(--empty-buffer-color1),
    var(--empty-buffer-color1) 8px,
    var(--empty-buffer-color2) 8px,
    var(--empty-buffer-color2) 16px
  );
}

.timelineEmptyThreadIndicatorLongTooltip {
  display: inline-block;
  max-width: 500px;
}
