/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineEmptyThreadIndicator {
  --empty-buffer-color1: rgba(69, 160, 255, 0.225);
  --empty-buffer-color2: rgba(69, 160, 255, 0.075);
  --shutdown-startup-color: #f4f4f6;
}

.timelineEmptyThreadIndicatorBlock {
  position: absolute;
  top: 0;
  bottom: 0;

  /* Don't add the border to the width, as this causes the block to overflow. */
  box-sizing: border-box;
}

.timelineEmptyThreadIndicatorStartup {
  border-right: solid 1px #cecece;
  background: linear-gradient(
      270deg,
      rgba(173, 173, 173, 0.3) 0.5px,
      rgba(196, 196, 196, 0.170312) 4px,
      rgba(196, 196, 196, 0) 9.5px
    )
    var(--shutdown-startup-color);
}

.timelineEmptyThreadIndicatorShutdown {
  border-left: solid 1px #cecece;
  background: linear-gradient(
      90deg,
      rgba(173, 173, 173, 0.3) 0.5px,
      rgba(196, 196, 196, 0.170312) 4px,
      rgba(196, 196, 196, 0) 9.5px
    )
    var(--shutdown-startup-color);
}

.timelineEmptyThreadIndicatorEmptyBuffer {
  background: repeating-linear-gradient(
    45deg,
    var(--empty-buffer-color1),
    var(--empty-buffer-color1) 8px,
    var(--empty-buffer-color2) 8px,
    var(--empty-buffer-color2) 16px
  );
}

.timelineEmptyThreadIndicatorLongTooltip {
  display: inline-block;
  max-width: 500px;
}
