/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineOverflowEdgeIndicatorScrollbox {
  max-height: 250px;
  padding-left: var(--thread-label-column-width);
  margin-right: calc(var(--vertical-scrollbar-reserved-width) * -1);
  margin-left: calc(var(--thread-label-column-width) * -1);
  background: linear-gradient(
    to left,
    white,
    #eee calc(var(--vertical-scrollbar-reserved-width) - 1px),
    var(--grey-30) 0,
    var(--grey-30) var(--vertical-scrollbar-reserved-width),
    transparent 0
  );
  overflow-x: hidden; /* if the platform scrollbar ends up being larger than --vertical-scrollbar-reserved-width (which is unexpected), make sure there is no horizontal scrollbar */
  overflow-y: auto;
}

.timelineThreadList {
  width: calc(100vw - var(--vertical-scrollbar-reserved-width));
  padding: 0;
  margin: 0 0 0 calc(var(--thread-label-column-width) * -1);
  background-color: var(--grey-20);
  box-shadow: inset 0 1px var(--grey-30);
  list-style: none;
}

.timelineSettings {
  display: flex;
  height: 25px;
  flex-flow: row nowrap;
  padding: 0;
  border-bottom: 1px solid var(--grey-30);
  color: var(--ink-70);
  line-height: 25px;
  white-space: nowrap;
}

.timelineSettingsToggle {
  display: flex;
  padding: 0 8px;
  border-right: 1px solid var(--grey-30);
}

.timelineSettingsToggleInput {
  margin: 0 5px;
  vertical-align: middle;
}

.timelineSettingsToggleLabel {
  display: flex;
  align-items: center;
}

.timelineSettingsHiddenTracks {
  position: relative;
  height: 17px;
  padding: 0 7px 0 20px;
  margin: 4px 5px 0;
  border: 0;
  background-color: var(--blue-60);
  border-radius: 12px;
  color: #fff;
  line-height: 17px;
}

.timelineSettingsHiddenTracks::before {
  position: absolute;
  top: 1px;
  left: 2px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-top: 6px solid;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.timelineSettingsHiddenTracksNumber {
  font-weight: bold;
}
