/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineOverflowEdgeIndicatorScrollbox {
  overflow: auto;
  max-height: 250px;
  padding-left: 150px;
  margin: 0 0 0 -150px;
}

.timelineThreadList {
  padding: 0;
  margin: 0 0 0 -150px;
  box-shadow: inset 0 1px var(--grey-30);
  list-style: none;
}
