/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timeline {
  position: relative;
  margin-left: 149px;
  border-left: 1px solid var(--grey-30);
  -moz-user-focus: ignore;
}

.timeline:hover > .timeSelectionScrubberHoverIndicator {
  visibility: visible;
}

.timelineOverflowEdgeIndicatorScrollbox {
  margin: 0 0 0 -150px;
  padding-left: 150px;
  max-height: 250px;
  overflow: auto;
}

.timelineThreadList {
  list-style: none;
  margin: 0 0 0 -150px;
  padding: 0;
  box-shadow: inset 0 1px var(--grey-30);
}
