/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineRuler {
  height: 20px;
}

/**
 * Create a border underneath the ruler that spans both the timeline track names on the
 * left, and the scrollbar area on the right.
 */
.timelineRuler::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -150px;
  right: calc(0px - var(--vertical-scrollbar-reserved-width));
  height: 1px;
  background: var(--grey-30);
  z-index: 3;
}

.timelineRulerContainer {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  -moz-user-select: none;
  user-select: none;
  line-height: 20px;
  font-size: 9px;
  color: #888;
  cursor: default;
}

/**
 * The notch is a 1px wide span with a gradient. It has a text numeric label that is
 * then overflows to the left of the line.
 */
.timelineRulerNotch {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  margin-left: -1px;
  white-space: nowrap;
  text-align: right;
  background: linear-gradient(transparent, var(--grey-30) 19px, var(--grey-30) 20px, #d7d7db66 0);
}

.timelineRulerNotchText {
  position: absolute;
  right: 0;
  padding-right: 5px;
}
