/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineThread {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid var(--grey-30);
  box-shadow: 0 1px var(--grey-30);
}

.timelineThread.selected {
  background-color: #edf6ff;
}

.timelineThreadHidden {
  height: 0;
  pointer-events: none;
}

.timelineThreadLabel {
  box-sizing: border-box;
  width: 150px;
  border-right: 1px solid var(--grey-30);
  padding-left: 14px;
  cursor: default;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.timelineThreadName {
  font-weight: normal;
  font: message-box;
  font-size: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.timelineThreadDetails {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
}

.timelineThreadIntervalMarkerOverview {
  list-style: none;
  display: block;
  margin: 0;
  height: 6px;
  position: relative;
  overflow: hidden;
  opacity: 0.75;
}

.timelineThreadIntervalMarkerOverviewContainerJank {
  border-bottom: 1px solid var(--grey-30);
}

.timelineThreadIntervalMarkerOverview.selected {
  opacity: 1;
}

.timelineThreadIntervalMarkerOverviewThreadGeckoMain {
  height: 18px;
}
