.timelineMarkersLabels {
  width: 135px;
  display: flex;
  padding: 9px 0 9px 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timelineMarkersLabelsName {
  flex: 1;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timelineMarkers {
  display: flex;
  flex-direction: row;
}

.timelineMarkersCollapseButton {
  position: relative;
  width: 17px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  margin: -4px 0px;
  cursor: pointer;
  transition: transform 100ms;
  background: transparent;
}

.timelineMarkersCollapseButton.expanded {
  transform: rotate(90deg);
}

.timelineMarkersCollapseButton::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  content: "";
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #888;
  background: transparent;
}
