/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * This file is a little different. It combines the GlobalTrack and LocalTrack css
 * into one file, as it is mostly shared style.
 */
.timelineTrack {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--grey-30);
  box-shadow: 0 1px var(--grey-30);
}

.timelineTrackLocal {
  margin-left: 15px;
}

.timelineTrackRow {
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
}

.timelineTrackRow.selected {
  background-color: #edf6ff;
}

.timelineTrackHidden {
  height: 0;
  pointer-events: none;
}

.timelineTrackLabel {
  width: 150px;
  box-sizing: border-box;
  padding-left: 14px;
  border-right: 1px solid var(--grey-30);
  display: flex;
  cursor: default;
  flex-flow: row nowrap;
  align-items: center;
}

.timelineTrackName {
  margin: 0;
  font-weight: normal;
  font: message-box;
  font-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.timelineTrackTrack {
  position: relative;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

.timelineTrackLocalTracks {
  position: relative;
  padding: 0;
  list-style: none;
  background: var(--grey-20);
}

.timelineTrackLocalTracks::before {
  content: "";
  position: absolute;
  width: calc(100% + 15px);
  height: 100%;
  left: -15px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.2);
  pointer-events: none;
  /* Place it above the Reorderable component, which has a z-index of 2. */
  z-index: 3;
}

.timelineTrackLocalLabel {
  width: 135px;
  border-left: 1px solid var(--grey-30);
}
