/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * This file is a little different. It combines the GlobalTrack and LocalTrack css
 * into one file, as it is mostly shared style.
 */
.timelineTrack {
  /* Position this element relative, so that the .timelineTrackRow.selected::after rule
   * can position relative to the track. */
  position: relative;
  padding: 0;
  border-top: 1px solid var(--grey-30);
  margin: 0;
  box-shadow: 0 1px var(--grey-30);
}

.timelineTrackLocal {
  margin-left: 15px;
}

.timelineTrackRow {
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
}

.timelineTrackRow.selected {
  background-color: #edf6ff;
}

.timelineTrackHidden {
  height: 0;
  pointer-events: none;
}

.timelineTrackLabel {
  display: flex;
  width: 150px;
  box-sizing: border-box;
  flex-flow: row nowrap;
  align-items: center;
  border-right: 1px solid var(--grey-30);
  cursor: default;
}

.timelineTrackNameButton {
  overflow: hidden;

  /* The 8px are used by the box-shadow when the button receives focus */
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  padding: 0 0 0 10px;
  border: none;
  margin: auto;
  background: none;
  font: inherit;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timelineTrackNameButtonAdditionalDetails {
  color: var(--grey-90-a60);
  font-size: 10px;
}

.timelineTrackTrack {
  position: relative;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
}

.timelineTrackLocalTracks {
  position: relative;
  padding: 0;
  background: var(--grey-20);
  list-style: none;
}

/**
 * Local tracks are indented 15px. This rule adds an inset shadow overlay over the
 * entire local tracks area, including the indented space. This is why it is shifted
 * to the left, and slightly larger than 100%.
 */
.timelineTrackLocalTracks::before {
  position: absolute;

  /* Place it above the Reorderable component, which has a z-index of 2. */
  z-index: 3;
  left: -15px;
  width: calc(100% + 15px);
  height: 100%;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  content: '';
  pointer-events: none;
}

.timelineTrackLocalLabel {
  width: 135px;
  border-left: 1px solid var(--grey-30);
}
