/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineTrackContextMenu {
  max-height: 43.5vh;
  background-color: var(--base-background-color);
  color: var(--base-foreground-color);
  overflow-y: auto;
}

.timelineTrackContextMenuItem {
  display: flex;
}

/* This spacer allows the width of a menu item to both grow and
 * shrink. By letting it shrink, it won't cause the text to get
 * unaligned or flow into the checkmark on the far right when a
 * scrollbar appears. */
.timelineTrackContextMenuSpacer {
  width: 20px;
  flex: 1;
}

.timelineTrackContextMenuPid {
  --internal-foreground-color: var(--grey-90-a60);

  color: var(--internal-foreground-color);
}

.react-contextmenu-item--selected .timelineTrackContextMenuPid {
  color: var(--base-foreground-color);
}

.trackContextMenuSearchFilter {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root.dark-mode {
  .timelineTrackContextMenuPid {
    --internal-foreground-color: var(--grey-10-a60);
  }
}
