.sidebar {
  padding: 1em;
  overflow: auto;

  font-size: 11px;
  background: var(--grey-10);
  border-top: 1px solid var(--grey-30);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px 5px;
  align-content: start; /* the grid isn't vertically stretched */

  line-height: 1.5;
}

.sidebar-titlegroup, .sidebar-title2, .sidebar-title3 {
  grid-column-start: span 2;
  min-width: 0; /* With this, the cell's minimum size is 0 instead of min-content */
}

.sidebar-titlegroup {
  margin: 0 0 1em 0;
  line-height: unset;
}

.sidebar-title, .sidebar-subtitle {
  margin: 0;
  padding: 0;
  font-weight: normal;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* This is used on the sidebar title and subtitle */
.can-copy-content {
  border-radius: 2px;
}

.can-copy-content:active {
  background: var(--grey-30);
}

.can-copy-content:not(:active) {
  transition: background 250ms;
}

.sidebar-title {
  font-size: 12px;
  margin-bottom: .3em;
}

.sidebar-subtitle {
  font-size: inherit; /* reset browser styles */
  color: var(--grey-50);
}

.sidebar-title2, .sidebar-title3 {
  font-weight: normal;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-title2 {
  margin: 0.9em 0 0.4em;
}

.sidebar-title3 {
  margin: 0.7em 0 0.3em;
}

.sidebar-label {
  color: var(--grey-50);
  white-space: nowrap;
  text-align: right;
}

.sidebar-value {
  white-space: nowrap;
  text-align: right;
}
