.sidebar {
  overflow: auto;
  padding: 1em;
  border-top: 1px solid var(--grey-30);
  background: var(--grey-10);
  font-size: 11px;
}

.sidebar-contents-wrapper {
  line-height: 1.5;
}

.sidebar-calltree .sidebar-contents-wrapper {
  display: grid;
  align-content: start; /* the grid isn't vertically stretched */
  align-items: center;
  grid-gap: 2px 5px;
  grid-template-columns: 1fr 1fr;
}

.sidebar-titlegroup,
.sidebar-title2,
.sidebar-title3,
.sidebar-categorylist {
  min-width: 0; /* With this, the cell's minimum size is 0 instead of min-content */
  grid-column-start: span 2;
}

.sidebar-titlegroup {
  margin: 0 0 1em 0;
  line-height: unset;
}

.sidebar-title,
.sidebar-subtitle {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

/* This will be used on both the title and the subtitle */
.can-select-content-input {
  all: unset;
  width: 100%;
  text-overflow: ellipsis;
}

.can-select-content-input:focus {
  text-overflow: unset;
}

.sidebar-title {
  margin-bottom: 0.3em;
  font-size: 1.2em;
  font-weight: 500;
}

.sidebar-subtitle {
  color: var(--grey-50);
  font-size: inherit; /* reset browser styles */
}

.sidebar-title2,
.sidebar-title3 {
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-title2 {
  margin: 0.9em 0 0.4em;
}

.sidebar-title3 {
  margin: 0.7em 0 0.3em;
}

.sidebar-label {
  color: var(--grey-50);
  text-align: right;
  white-space: nowrap;
}

.sidebar-value {
  text-align: right;
  white-space: nowrap;
}

.sidebar-categorylist {
  display: grid;
  align-content: start; /* the grid isn't vertically stretched */
  align-items: center;
  grid-gap: 2px 5px;
  grid-template-columns: 1fr max-content;
}

.sidebar-subcategoryname {
  overflow: hidden;
  padding-left: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
