/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.profileCallTreeSettings {
  height: 25px;
  padding: 0;
  line-height: 25px;
  display: flex;
  flex-flow: row nowrap;
  color: var(--ink-70);
}

.profileCallTreeSettingsList {
  display: block;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.profileCallTreeSettingsListItem {
  margin: 0 5px;
  padding: 0;
}

.profileCallTreeSettingsLabel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 25px;
}

.profileCallTreeSettingsSelect {
  margin: 0 5px;
  font-size: 11px;
}

.profileCallTreeSettingsCheckbox {
  margin: 0 5px;
}
