/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.calltreeTransformNavigator {
  border-top: 1px solid var(--grey-30);
  background: var(--gray-10);
  color: var(--ink-70);
}
