/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.markerTable {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.treeViewFixedColumn.start {
  left: 0px;
  width: 80px;
  text-align: right;
  padding-right: 5px;
}

.treeViewFixedColumn.duration {
  left: 80px;
  width: 80px;
  border-right: none;
  text-align: right;
  padding-right: 5px;
}

.treeViewFixedColumn.category {
  left: 160px;
  width: 80px;
}
