/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.markerTableSettings {
  height: 25px;
  padding: 0;
  line-height: 25px;
  display: flex;
  flex-flow: row nowrap;
}

.markerTableSettingsSpacer {
  flex: 1;
}

.markerTableSettingsLabel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 25px;
}

.markerTableSettingsSearchbar {
  padding: 0 5px;
}

.markerTableSettingsSearchField {
  width: 250px;
}
