.priority {
  text-transform: capitalize;
}

.componentStack {
  /* Box */
  overflow: hidden;
  max-width: 35em;
  max-height: 10em;
  margin: 0;

  /* Other */
  font-size: 0.9em;
  line-height: 1.5;

  /* The gradient is defined towards the bottom so that we hide the end of the
   * backtrace only when the element is tall enough, which is when the backtrace
   * is long. */
  -webkit-mask-image: linear-gradient(
    to bottom,
    white,
    white var(--gradient-height),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    white,
    white var(--gradient-height),
    transparent
  );
  white-space: pre;

  --gradient-height: calc(5em);
}

.componentName {
  font-weight: bold;
}
