.tooltip {
  position: fixed;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: var(--grey-10);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  text-align: left;
  text-overflow: ellipsis;
  transition: opacity 250ms;
}

.tooltipTiming {
  padding-right: 0.5em;
  color: #666;
  font-weight: bold;
}

.tooltipOneLine {
  display: flex;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltipTitle {
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
}

.tooltipSwatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #888;
  margin-right: 3px;
}

.tooltipIcon {
  display: inline-block;
  align-self: flex-end;
  margin-right: 3px;
}

.tooltipIcon > .nodeIcon {
  width: 14px;
  padding-right: 0.5em;
  margin-left: auto;
}

.tooltipHeader {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--grey-40);
}

.tooltipDetails {
  display: grid;
  padding-top: 5px;
  grid-gap: 2px 5px;
  grid-template-columns: min-content auto;
}

.tooltipLabel {
  color: var(--grey-50);
  text-align: right;
  white-space: nowrap;
}

.tooltipBackTraceTitle {
  margin: 0;
  color: var(--grey-50);
  font-size: 100%;
  font-weight: normal;
}

.tooltipDetails + .tooltipDetailsBackTrace {
  padding-top: 5px;
  border-top: 1px solid var(--grey-40);
  margin-top: 5px;
}

.tooltipLib {
  align-self: flex-end;
  color: var(--grey-50);
  white-space: nowrap;
}
