.tooltip {
  --internal-border-color: #ccc;
  --internal-shadow-color: rgb(0 0 0 / 0.3);
  --internal-timing-foreground-color: #666;
  --internal-swatch-foreground-color: #888;
  --internal-header-border-color: var(--grey-40);
  --internal-dimmed-foreground-color: var(--grey-50);
  --internal-backtrace-foreground-color: var(--grey-40);
  --internal-label-foreground-color: var(--grey-60);

  position: fixed;
  display: inline-block;
  overflow: hidden;
  max-width: 600px;
  padding: 8px;
  border: 1px solid var(--internal-border-color);
  background-color: var(--panel-background-color);
  box-shadow: 0 1px 3px var(--internal-shadow-color);
  color: var(--base-foreground-color);
  line-height: 1.4;
  pointer-events: none;
  text-align: left;
  text-overflow: ellipsis;
  transition: opacity 250ms;
}

:root.dark-mode {
  .tooltip {
    --internal-border-color: var(--grey-60);
    --internal-timing-foreground-color: var(--grey-40);
    --internal-header-border-color: var(--grey-40);
    --internal-dimmed-foreground-color: var(--grey-40);
    --internal-backtrace-foreground-color: var(--grey-30);
    --internal-label-foreground-color: var(--grey-40);
  }
}

.tooltip.clickable {
  /* Make sure that the pointer events are properly triggered if it's clickable */
  pointer-events: auto;
}

.tooltipTiming {
  padding-right: 0.5em;
  color: var(--internal-timing-foreground-color);
  font-weight: bold;
}

.tooltipOneLine {
  display: flex;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltipTitle {
  display: flex;
  overflow: hidden;
  min-width: 0;
  flex: 1;
  align-items: center;
  text-overflow: ellipsis;
}

.tooltipTitleText {
  overflow: hidden;
  min-width: 0;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltipSwatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid var(--internal-swatch-foreground-color);
  margin-right: 3px;
}

.tooltipIcon {
  display: inline-block;
  align-self: flex-end;
  margin-right: 3px;
}

.tooltipIcon > .nodeIcon {
  width: 14px;
  padding-right: 0.5em;
  margin-left: auto;
}

.tooltipHeader {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--internal-header-border-color);
  font-size: 12px;
}

.tooltipDetails {
  display: grid;
  gap: 2px 5px;

  /* Make the right column "definitely" sized (ignore its intrinsic size) by setting a min-width of 0.
   * This stops long contents from overflowing the tooltip. */
  grid-template-columns: min-content minmax(0, 1fr);
}

.tooltipHeader + .tooltipDetails {
  padding-top: 5px;
}

.tooltipDetailSeparator {
  border-top: 1px solid var(--internal-header-border-color);
  margin: 4px 0;
  grid-column: 1 / 3;
}

.tooltipDetailsUrl {
  word-break: break-all;
}

.tooltipDetailsDim {
  color: var(--internal-dimmed-foreground-color);
}

.tooltipLabel {
  color: var(--internal-dimmed-foreground-color);
  text-align: right;
  white-space: nowrap;
}

.tooltipBackTraceTitle {
  margin: 0;
  color: var(--internal-dimmed-foreground-color);
  font-size: 100%;
  font-weight: normal;
}

.tooltipDetails + .tooltipDetailsBackTrace {
  padding-top: 5px;
  border-top: 1px solid var(--internal-backtrace-foreground-color);
  margin-top: 5px;
}

.tooltipLib {
  align-self: flex-end;
  color: var(--internal-dimmed-foreground-color);
  white-space: nowrap;
}

.tooltipScreenshotImg {
  padding: 0.5px;
  border: 0.5px solid var(--base-shadow-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--base-shadow-color);
}

/**
 * Overwrite styles for the sidebar.
 */
.sidebar .tooltipDetails {
  /* Force the details to the max-width, even if they have long pieces of text. */
  overflow: hidden;
  gap: 2px 0;

  /* Don't let the width overflow for long pieces of text */
  grid-template-columns: minmax(0, 1fr);
}

.sidebar .tooltipLabel {
  margin-top: 8px;
  color: var(--internal-label-foreground-color);
  font-weight: bold;
  text-align: left;
}

.sidebar .tooltipDetailSeparator {
  display: none;
}
